[2020-05-03 10:33] oeway commented on #412
Hi I think it would be great to have an option to keep hide the dom element instead of remove it.

In my case, I have iframe inside the container which holds important state, if removed, everything is gone.

@euvl could you please consider this?

[2020-05-06 08:39] srsandy opened #555 "vuejs-datepicker with modal"
#### Problem:
I'm using [vuejs-datepicker](https://www.npmjs.com/package/vuejs-datepicker) inside the model. But datepicker is kind of hidden as you can see in the screenshot.

I don't see any scroll bar. Can you help so I can bring datepicker's calender outside the modal.
...

#### Example & screenshots:
![Screen Shot 2020-05-06 at 2 06 51 PM](https://user-images.githubusercontent.com/21126403/81

[2020-05-07 09:24] kesm0 commented on #442
It would be a very great feature !

[2020-05-09 05:46] MHassanSaqib commented on #442
any chance for this feature?

[2020-05-09 09:29] Anoesj commented on #442
https://github.com/vuejs/vue-router/issues/703

[2020-05-11 08:57] euvl commented on #555
Can you try setting z index of your input higher then modal's?

[2020-05-11 09:21] srsandy commented on #555
@euvl  I tried that but is not working.

[2020-05-11 09:33] euvl commented on #508
Hey @adrianthedev, thanks for looking into this. Feel free to shoot question, to start you can build the modal library locally using `npm run build'

[2020-05-13 15:33] andrew-secret commented on #543
@mohkoma
I did this in the plugins section to register the `VueJSModal`.

[code]

Then I jumped into my `component` and I could get access through the `@vue/composition-api`

[code]

Maybe this could help u

Good luck 🍀

[2020-05-14 10:58] ishetnogferre opened #557 "vue-js-modal and nuxt SSR"
#### Problem:
I get a "window is not defined" error when using this plugin in Nuxt.

#### Version:
Nuxt: 2.12.2
Vue-js-modal: 2.0.0-rc.3

#### Example & screenshots:
<img width="1283" alt="Screenshot 2020-05-14 at 12 55 26" src="https://user-images.githubusercontent.com/6649706/81926594-78335900-95e2-11ea-8dcb-ee36c3a966ae.png">

The content of my 'vue-js-modal.js' in ~/plugins
[code]

[2020-05-15 15:17] larsjanssen6 commented on #301
This problem is still there.

[2020-05-16 08:20] mrFANRA commented on #553
[code]

You can try import directly

[2020-05-16 09:07] pixsil opened #559 "deadlink on demo website"
#### Problem:
On your website you have got a dead link:
http://vue-js-modal.yev.io/

It is the example link.

[2020-05-16 09:23] mrFANRA opened #560 "How to open modal window in full screen?"
Hi! Thanks for you plugin!

#### Problem:

I cant open modal in full screen. It is always change top attribute in styles.
How to configure modal for this?

#### Version:

1.3.34

#### Example & screenshots:

Here is my config:
[code]
I tried add styles with important options:
[code]

But in the end styles changed automaticaly =(

![Screenshot_143](https://user-images.githubusercontent.com/20259213

[2020-05-16 09:38] mrFANRA opened #561 "2.0.0-rc.3 not working in NuxtJS"
#### Problem:

2.0.0-rc.3 version not working in NuxtJS

#### Version:

2.0.0-rc.3

#### Example & screenshots:

Plugin:
[code]

Code:
[code]
Errors:
![Screenshot_144](https://user-images.githubusercontent.com/20259213/82116384-1ace1200-9772-11ea-9571-7c58c930f2d7.png)

[2020-05-16 12:25] lmuzquiz commented on #561
Nuxt implementation of Vue-JS-Modal by Yev Vlasenko (v.1.3.34). Notice how upgrading to vue-js-modal 2.0.0 will not work with Nuxt.

https://github.com/lmuzquiz/NuxtJSModal

[2020-05-16 12:52] mrFANRA commented on #561
Damn =(

Thanks!

[2020-05-16 13:15] lmuzquiz opened #562 "Warning (and future error) on Nuxt when running Yarn Generate"
#### Problem:
Getting a warning (and future error) after running the command **Yarn Generate** on Nuxt 2.12.2

#### Version:
1.3.34

#### Example & screenshots:
For an example checkout this repo: https://github.com/lmuzquiz/NuxtJSModal

[2020-05-16 14:06] mrFANRA commented on #560
Sorry my fail ....

[2020-05-16 14:06] #560 closed

[2020-05-16 17:29] hifull commented on #557
I don't know your needs, but you can turn off the plugin in SSR-mode (because "window" is not existing on server without any workarounds).

I use plugin in this way in `nuxt.config.js`:

[2020-05-16 17:29] hifull commented on #557
I don't know your needs, but you can turn off the plugin in SSR-mode (because "window" is not existing on server without any workarounds).

I use plugin in this way in `nuxt.config.js`:
[code]

[2020-05-18 08:18] thema-d commented on #561
@lmuzquiz  Thank you :)

[2020-05-18 13:29] TomDeSmet opened #563 "Scrollable not working when dynamic content in modal is rendered after opening modal"
#### Problem:
I have a modal which has 2 Vue components inside that depend on API calls. So nothing is rendered initially but after a few milliseconds the API returns the correct data and the Vue components are rendered.
The height of the modal adapts to this new content, but a scrollbar isn't triggered.

#### Version:
2.0.0-rc.3

#### Code example:
[code]

[code]

[2020-05-19 11:10] euvl commented on #563
Can you please create a sandbox to replicate an issue? Thanks

[2020-05-20 15:31] curiosity-hyf opened #564 "Distinguish between "handleBackgroundClick" and "esc.keyup event""
#### Problem:
I want to close modal by clicking on the background BUT not be closed by pressing ESC.
I found this code.
[code]
Can provide something like `closeOnPressEscape` instead of it ? Thanks.

#### Version:
1.3.33

#### Example & screenshots:

[2020-05-20 16:06] eduarguz commented on #551
Is this published?

I am using `vue-js-modal@2.0.0-rc.3` and cannot find an easy way to:
- change borde-radius of "modal box" (Could be related https://github.com/euvl/vue-js-modal/issues/521)
- add margin on adaptive mode. (Could be related https://github.com/euvl/vue-js-modal/issues/158)

[2020-05-20 20:29] euvl commented on #551
hmm, yeah it should be published. i think it depends on where the css is imported in your app, if modals default css ifile is imported after the bundled styles - you will get this issue

[2020-05-20 20:32] euvl commented on #564
Closing modals through escape is w3c requirement for a11y, see here in the keyboard support section: https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

[2020-05-20 20:34] euvl commented on #561
@lmuzquiz awesome, do you want to add this example to the demo folder? Would be valuable because I am not using nuxt, so it is hard for me to know what the issues are.

[2020-05-20 20:35] euvl commented on #561
Also @lmuzquiz, @mrFANRA , @thema-d is there is anything can be done to make integration easier?

[2020-05-20 20:37] euvl commented on #559
Thanks

[2020-05-20 20:37] #559 closed

[2020-05-20 20:38] euvl commented on #553
Hm there seems to be lots of issues with using plugin in ssr, is there aythng can be done to fix it?

[2020-05-20 22:20] eduarguz commented on #551
Yeah, that is what happens in my app :/
I dont think I can change that, Vue loads components/libraries css after my own.

[2020-05-21 01:47] curiosity-hyf commented on #564
I use codemirror.js in the modal and use escape to exit full-screen editing. Modal was also closed together. Is there any way to solve this problem?

[2020-05-21 08:01] euvl commented on #551
yeah, not sure plugin can fix that unfortunately :(

[2020-05-21 10:47] avmalyutin commented on #564
I am also interested in this feature. I have some rare cases, like wait dialogs, which should not be closed by ESC key.
Is it possible to:
- Add property **closeOnPressEscape**, which is by default **true**. By default, the dialog will be closed, when ESC is pressed. However, with this property we can override this functionality.
- Add a link in documentation for this property to W3C standards, in

[2020-05-22 12:28] TomDeSmet commented on #563
I did some further testing, but I'm not understanding what's going on.
It goes wrong on Firefox. At first, it seems that it works, but whenever I click somewhere, scrolling gets disabled.

On Chrome and Safari it seems to go fine.
But on neither browser I can drag the browser bar itself. I can only scroll with the mouse wheel.

https://xfp79.csb.app/

[2020-05-23 17:59] intergalactisch opened #566 "Window jumps to top when opening dynamic modal"
#### Problem:
I am using a basic dynamic implementation of the plugin, and have registered it (in Laravel) like so:
[code]

Whenever I click on a button to show a modal, the window jumps to the top of the page, instead of staying in position. Any ideas on how to fix this?

#### Version:
^2.0.0-rc.3

[2020-05-24 03:12] DerKaiserZO commented on #555
You have to use the Height or Width Props like that <modal :height="910" :width="890">

[2020-05-24 05:27] srsandy commented on #555
@DerKaiserZO Like what?

[2020-05-26 19:23] Muphet opened #567 "blue glow underneath modal"
#### Problem:

There is visible blue shadow/glow underneath modal, none of styles apply it.

#### Version:

1.3.31 (but also any newer)

#### Example & screenshots:

![image](https://user-images.githubusercontent.com/11758669/82941667-0f12f480-9f97-11ea-995e-25063fc0e9b3.png)

[2020-05-29 11:42] jellevandevelde commented on #301
Facing the same problem too with the latest version

`    "nuxt": "^2.0.0",
    "vue-js-modal": "^2.0.0-rc.3",
`

[2020-05-29 17:17] the-worldly-monkey opened #568 "Modal not properly resizing and repositioning on orientation change"
Hello, I am experiencing this strange behavior with vue-js-modal (**2.0.0-rc.3**) on mobile (iOS 13) Chrome and Safari, please see the 2 videos linked:

- Safari: https://streamable.com/kd7vlx

- Chrome: https://streamable.com/ebjn6c

As you can see, on Safari it behaves correctly on first orientation change, then it screws up by not properly resizing the overlay (you can see the background at the

[2020-05-30 15:04] arthur-sorami commented on #557
I have same situation.

vue-js-modal also supported SSR mode, so it could be used without problems until now.

However, the version of nuxt is 2.12.2, and when developing in SSR mode, I also got "window is not defined" ...

[2020-05-30 16:03] euvl commented on #566
HI, thanks for the report, can you please create a sandbox or repo so we could replicate an issue?
Thanks

[2020-05-30 18:42] Patryk-Szylin commented on #301
Facing the same problem. Does anyone know a workaround?

[2020-05-30 19:40] jellevandevelde commented on #301
I had to downgrade to version `"vue-js-modal": "1.3.31",` to get it to work like outlined in the Nuxt example

[2020-05-31 21:25] paolomangiadev commented on #557
the readme states that ssr is supported but it's not working, ssr: false is just a workaround. Also it still gives an error:
- e._ssrNode is not a function

[2020-06-01 02:49] redxtech commented on #561
I tried using 2.0.0-rc.3 in my nuxt project, but when I include the plugin file in the nuxt config the server will hang, and if I wait and it actually ends up showing something it's a 500 error saying that window is not defined. I'm using the ssr build.

[2020-06-01 08:34] thema-d commented on #561
@redxtech use version `"^1.3.34"`
see https://github.com/euvl/vue-js-modal/issues/561#issuecomment-629637797

[2020-06-03 04:47] nezaboravi commented on #350
am getting hideAll is not a function

[2020-06-03 09:46] bogdan-dukhevych commented on #563
I have the same issue but just with a list of images inside modal. Also Firefox.

[2020-06-05 13:58] ftrMorri opened #569 "Passing data back from modal?"
Hi,

I'm having problems passing data back from a modal. With my use case, I couldn't find a suitable example in the documentation.

I'm using a custom .vue file which I show in the modal

[code]

Here's how I'm opening the modal

[code]

But I can't figure out how to tell the parent component what item was selected. Is there an example for something like this?

[2020-06-06 09:09] #545 closed

[2020-06-06 15:48] cvakodobro opened #570 "Changing width of modal in media query"
#### Problem:
I want to change width to 100% with media query but i can't. I tried to change it in class but it is not the way.

`@media screen and (max-width: 700px){
    .v--modal-box.v--modal{
        width: 100%;
        top: 50px;
        left: 0;
    }
}`
 after that modal still have these values:

![image](https://user-images.githubusercontent.com/40690031/83948482-bb699c00-a81d-11ea-82b3-d

[2020-06-07 09:01] Grinnbob commented on #350
Solution

<template>
      <modals-container ref="modal_name"/>
</template>

this.$refs["modal_name"].modals = []

[2020-06-08 10:59] ricky11 opened #572 "Can use a psuedo element ::after on the modal container?"
#### Problem:
I am trying to use vuejs modal to create a tooltop with a arrow

Is it possible to use psudo elements on the modal?
#### Version:

#### Example & screenshots:

.container {
    position:relative;
    display:flex;
    flex-direction: column;
    padding:2rem;
}

.container::after {
    content: '>>>';
    border: 5px white solid;
    position: absolute;
    left: 100%;
    top:50%;

[2020-06-08 12:21] ricky11 commented on #570
are you using scoped styles?

[2020-06-08 13:44] Amersfoj commented on #455
I had the same error and was unable to identify the problem. Updating from `1.3.31` to `2.0.0` fixed the problem for me.

[2020-06-08 14:25] ricky11 commented on #533
Did you ever figure this out?

[2020-06-09 06:34] aoimewo commented on #568
same problem on orientation
the modal not center after orientation change.
(both happened on real mobile device and Chrome F12 device testing)

[2020-06-09 16:16] cvakodobro commented on #570
oh, yes i am using scoped. it's ok now. thank you!

[2020-06-09 16:16] #570 closed

[2020-06-09 16:42] ricky11 commented on #569
You can use regular props down, events up, there is no reason why this shouldn't work as well, as the modal is a regular component.

Are you using any state management, you can send data there and the parent can get it quite easily.

And ofcourse you have the before-open and close event, these are not triggered while hte modal is active, you can use events or state for that.

[2020-06-09 16:44] ricky11 commented on #568
are your styles scoped?

[2020-06-10 06:59] the-worldly-monkey commented on #568
If you mean the styles where I have the <modals-container/> then no, they are not scoped.

[2020-06-10 10:30] adrianthedev commented on #508
Hey, sorry about the radio silence. I ended up removing turbolinks altogether from this project.
I'm not going to be able to work on this at this time.

[2020-06-11 08:15] pranavkumar389 opened #573 "Question: Is it possible to not to disable background when modal in open state."
Is there any way to NOT to disable the main content(background) of the page?

Modal vs Non-Modal:-

https://www.nngroup.com/articles/modal-nonmodal-dialog/#:~:text=Definition%3A%20A%20modal%20dialog%20is,special%20mode%20requiring%20user%20interaction.&text=In%20contrast%2C%20nonmodal%20(or%20modeless,functionality%20of%20the%20user%20interface.

[2020-06-11 15:46] VincentVanclef opened #574 "Passing props to runtime modals"
If you do the following:

`        this.$modal.show('event-modal', {
            entity: entity,
            event: event
        });`

and you have a modal component somewhere, with the name 'event-modal', the props are not passed to it. Is there a way to do this?

modal component:

[code]

Is passing props only doable with dynamic modals?

[2020-06-12 23:42] wtchen commented on #141
This isn't really a good solution because it causes the modal to rerender, basically closing it

[2020-06-15 16:04] defcom20 commented on #301
Para los que usan Nuxtjs : Agreguen mode: 'client' -> a mi me funciono.
plugins: [
    { src: '~/plugins/vue-js-modal', mode: 'client' }
  ],

[2020-06-15 16:08] defcom20 commented on #557
yo agregue { src: '~/plugins/vue-js-modal', mode: 'client' } y me funciona todo bien

[2020-06-18 12:53] kimchristiansen commented on #563
Same here on Firefox 77.0.1
The scrollbar on the right appears. Scrolling with keyboard is no problem, but i can't scroll with the mouse wheel.

[2020-06-20 18:32] #543 closed

[2020-06-22 14:23] chanlito opened #577 "2.0.0 is not published to NPM"
<img width="771" alt="Screen Shot 2020-06-22 at 9 23 01 PM" src="https://user-images.githubusercontent.com/15667259/85298706-9e47f500-b4ce-11ea-8f35-637ee2cecd75.png">

[2020-06-23 11:33] Mr-Ev-H commented on #563
I'm experiencing the same issue - I can scroll fine on Chrome, but have issues scrolling the modal with Firefox 77.01. Keyboard scrolling works fine but mousewheel does not.

I've noticed that scrolling works if the scroll event starts when the mouse pointer is over either an anchor element or an element that receives mouse input in some way (in my case GChart).

Crude diagram:

`<Component>
  <Mo

[2020-06-23 12:50] KBOE2 opened #578 "Closing a modal removes class `vm--block-scroll` when other modals are still open"
#### Problem:
Having multiple Modals opened at the same time. If one of these is closed, class `vm--block-scroll` is removed from document.body.
This is because the `beforeDestroy`-Method of `VueJsModal` does not check wether other modals are still open
[line 257](https://github.com/euvl/vue-js-modal/blob/master/src/Modal.vue#L257)
[line 569](https://github.com/euvl/vue-js-modal/blob/master/src/Mo

[2020-06-23 22:26] euvl commented on #574
yes, you can set props directly in `<modal` tag or pass data as params in `show` function

[2020-06-23 22:26] #574 closed

[2020-06-23 22:29] euvl commented on #572
tbh I don't think this package fits your usecase of making tooltips, there is https://github.com/euvl/vue-js-popover if you want, but I didn't really maintain it much. I am sure there are good tooltip libs for vue

[2020-06-23 22:29] #572 closed

[2020-06-23 22:30] euvl commented on #569
Very good answer, thanks @ricky11 👍

[2020-06-23 22:30] #569 closed

[2020-06-24 15:56] ajdvoynos commented on #564
I also need the property @avmalyutin mentioned above. My use case is showing a modal while an ajax request finishes. I don't want users interacting with the page before the request finishes or times out. Does anyone have any workarounds?

[2020-06-25 11:30] ShekhSaifuddin007 opened #579 "Carousel plugin not work properly"
#### Problem:
I'm using this plugin [vue-awesome-swiper](https://github.com/surmon-china/vue-awesome-swiper). I'm trying to make an image gallery inside the modal. outside this modal, it's work as I aspected but inside modal, it shows me the error and does not work properly

#### Version:
modal version : "^2.0.0-rc.3"
slider version : "^4.1.1"

#### Example & screenshots:
![85594816-13036680-b66a-

[2020-06-25 17:56] hitostacha opened #580 "Dynamic modal won't show"
#### Problem:
The dynamic modal isn't showing, the component I'm calling is registering properly as I can see it on the HTML file, but isn't displaying due to CSS properties

#### Version:
2.0.0-rc.3

#### Example & screenshots:

I have a button which calls the modal, and it's working, this is the code for calling the modal:
[code]
The modal displays is loaded in the DOM, like this:
![image](https

[2020-06-25 21:30] hitostacha commented on #580
Apparently it doesn't work only if it's a dynamic modal, it works just fine if I use the modal component as a wrapper for my component

[2020-06-26 04:27] #562 closed

[2020-06-27 14:43] euvl commented on #579
Hey, thanks for your question. Unfortunately, the error says something about `$swiper` which is a different library. You might get some help if you ask your question on stack overflow 👍

[2020-06-27 14:43] #579 closed

[2020-06-27 14:45] euvl commented on #580
Hey, can you please try the 1.3.34 version, I am wondering if it is a bug in the release candidate

[2020-06-27 15:12] euvl commented on #577
it is still a release candidate.

[2020-06-27 15:12] #577 closed

[2020-06-27 15:13] euvl commented on #568
Is there an event that is fired when orientation changes?

[2020-06-27 15:54] the-worldly-monkey commented on #568
I am not exactly sure if I understood your question correctly. Are you asking me if I added a custom event listener for the `orientationchange` event somewhere? If that's the case, then no, there is no custom handler nor for that event, nor for the `resize` one, which is also fired when orientation changes on those browsers, I think.

[2020-06-27 23:55] euvl commented on #17
<img width="488" alt="Screenshot 2020-06-28 at 00 47 14" src="https://user-images.githubusercontent.com/1577802/85934434-0dac5300-b8da-11ea-9db5-34fa5a0b7fe0.png">

[2020-06-28 00:52] #551 closed

[2020-06-28 00:52] #553 closed

[2020-06-28 13:42] euvl commented on #568
Thanks, `orientationchange` event is what i was looking for 😄

[2020-06-29 11:47] hmaesta commented on #561
Updated README with new instructions for Nuxt: https://github.com/euvl/vue-js-modal/pull/582

---

I am using `^2.0.0-rc.3` w/ Nuxt `^2.0.0`

##### plugins/vue-js-modal.js
[code]

##### nuxt.config.js
[code]

[2020-06-30 18:47] hitostacha commented on #580
Hi, thanks for your reply!
Also, I tried downgrading to the 1.3.34 version and it's still the same bug, the component mounts and render when I trigger the modal, but doesnt show

[2020-06-30 20:55] VincentVanclef opened #583 "Passing options to dialog"
Is it possible to pass options to the dialog? If i want to not be able to close from clicking the background (clickToClose) ?

Ive tried a lot of possible combinations with no luck, the documentation seems pretty slim on the dialog part, am i missing something ?

[2020-07-01 14:47] nacr commented on #583
Same problem any luck?

[2020-07-01 15:04] nacr commented on #583
This was my solution:

**<v-dialog :click-to-close="false" />**

hope it helps you m8

[2020-07-01 15:22] VincentVanclef commented on #583
Ahh nice! I ended up recreating The dialog as a modal xD so i got the same functionality plus all the other props

[2020-07-02 07:27] #555 closed

[2020-07-02 14:50] ibrahem-kamal opened #584 "Buttons are not added"
#### Problem:

i try to initialize a modal with buttons but the buttons is not shown

![image](https://user-images.githubusercontent.com/38753243/86373668-efe94000-bc83-11ea-8537-0284f91faf23.png)
![image](https://user-images.githubusercontent.com/38753243/86373701-f972a800-bc83-11ea-8fc0-c834444dedac.png)
![image](https://user-images.githubusercontent.com/38753243/86373777-1018ff00-bc84-11ea-8f32

[2020-07-02 14:55] angelocapone opened #585 "Modal window jumps to top when opening"
#### Problem:
I have a button at the bottom of my main page to open a Modal window.
When I click that button to open the Modal page, it jumps to top of my main page.
I’m using a simple modal.
[code]

How can I make the Modal window to don’t jump at the top? I want to remain at the same position where was the main page before clicking the button.

#### Version:
 ^2.0.0-rc.3

[2020-07-02 17:19] angelocapone commented on #585
Closing this as the issue was on my end.

[2020-07-02 17:19] #585 closed

[2020-07-02 17:19] angelocapone commented on #585
Closing this as the issue was on my end.

[2020-07-03 00:06] Xenoha opened #586 "Vue3 support"
#### Problem:
Getting an error when using with Vue3.

Looking to see if there are plans to support upcoming Vue3.
#### Version:
Version: 2.0.0-rc.3

#### Example & screenshots:
[code]

[2020-07-03 06:14] #567 closed

[2020-07-07 08:50] RasmusO95 commented on #568
Can confirm, this is using chrome on iphone 11

https://streamable.com/rp96vl

[2020-07-07 22:14] DavidRouyer commented on #551
I have the same problem with the CSS file import order. In production, the modal styles are imported after my own so the classes I passed to the modals get overridden.
There is a simple fix. Do not bundle the CSS file by default and let us import it where we want it.

[2020-07-08 08:16] DavidRouyer opened #587 "Do not bundle styles in index.js and let us import the separated styles.css file"
#### Problem:

I'm using tailwind with vue-js-modal:
[code]
It works fine in dev mode but my custom styles got overridden in production, because the styles are inlined in `dist/index.js` (see the capture below) therefore they take precedence over my custom classes.

#### Solution:
Strip CSS classes from `dist/index.js` and let us import the separated styles.css file wherever we want. So I can do:

[2020-07-08 08:21] DavidRouyer commented on #551
Opened an issue in #587 to discuss more about it

[2020-07-08 12:26] euvl commented on #587
You can do that if you import nocss file. It is explained in in documentation.

[2020-07-08 12:28] euvl commented on #586
I am not using vue anymore and unfortunately would not have enough time to learn about all the new things. If you, or anyone reading this thread would have an interest - please feel free to give it a go 👍

[2020-07-08 12:30] euvl commented on #583
Hey, dialog is an example of the modal and in fact, it is exposing the same features as all other medals, meaning that you can pass props, params, etc.

[2020-07-08 12:30] #583 closed

[2020-07-08 12:32] euvl commented on #584
Buttons is a feature of the "Dialog" component. You are using "MOdal" which is kind an un-opinionated framework for building models, dialogs, windows, etc... so it does not know what buttons are.

[2020-07-08 12:32] #584 closed

[2020-07-08 12:33] euvl commented on #580
Weird, can you please create a sandbox or smoth so I could replicate it?

[2020-07-08 12:40] euvl commented on #573
Hey, nope, unfortunately there is no such option

[2020-07-08 12:40] #573 closed

[2020-07-08 12:42] euvl commented on #561
Hey guys, can someone please create a sandbox for testing ssr?

[2020-07-08 12:49] RasmusO95 commented on #583
@euvl  We are 3 people here who are unable to pass props to the dialog. Could you atleast show a code snippet or explain how to do it? Clearly the documentation needs some update as to how this is done, as doing it the same way as a modal doesnt seem to work.

[2020-07-08 12:55] euvl opened #588 "Looking for maintainers"
Hey guys, thank you for using this library, I hope it has helped you build some awesome things!

It has become increasingly hard for me to maintain this project. I have not been using Vue in prod for almost 3 years and I don't have enough free time that I can spend on learning new things about vue, srr, etc.

Hence, I am trying to find someone who is interested in maintaining & building new featur

[2020-07-08 12:57] hmaesta commented on #561
Here you go. https://codesandbox.io/s/nuxt-vue-js-modal-ssr-test-7hgzz?file=/pages/index.vue

[2020-07-08 13:03] euvl opened #589 "Documentation moved to https://euvl.github.io/vue-js-modal/"
The documentation moved from readme to https://euvl.github.io/vue-js-modal/

As in any contribution-driven project - if you find typos, errors, or want to add more explanations & examples - please do not hesitate and create a PR! All contributions are welcome! ❤️

ps. we are using vuepress, check out /docs directory 🤓

[2020-07-08 14:19] DavidRouyer commented on #587
The only nocss file I see is the `ssr.nocss` file which is (as the name seems to suggest) only useful for SSR scenarios as it throw an exception ` e._ssrNode is not a function` if I try to use it in a traditional browser scenario.

[2020-07-08 14:19] brfrth commented on #587
@euvl This doesn't work. ssr.nocss does not work.

[2020-07-08 14:22] euvl commented on #561
awesome thanks 👍  i think @kirillbunin made some fixes for ssr thingy not to be broken in rc4, if you will have spare time to test it - let me know if it works without "client" 👍

[2020-07-08 14:23] euvl commented on #561
alternatively, i should probably change this https://euvl.github.io/vue-js-modal/Installation.html#ssr

[2020-07-08 14:46] hmaesta commented on #561
I wasn't able to run `rc-4` on codesandbox following previous instructions for SSR.

![Screen Shot 2020-07-08 at 11 34 51](https://user-images.githubusercontent.com/741969/86931939-19d0b580-c10f-11ea-8813-212a2216005c.png)

Steps I did:

1. Removed `mode: 'client'` from `{src: '~/plugins/vue-js-modal', mode: 'client'}` in `nuxt.config.js`
2. Previous documentation had two example codes for SSR on

[2020-07-08 20:25] euvl commented on #587
Thanks for your PR @DavidRouyer, i've published `2.0.0-rc.5` that should have your build

[2020-07-09 10:38] euvl commented on #561
Thanks for testing it, if you have more time, and I appreciate everything you've done so far, could you please take a look at what might cause this? Unfortunately, I have not been using vue for a while & never used ssr so I am very lost in this 🤣

[2020-07-09 10:39] euvl commented on #561
Got this from the sandbox you've sent in previous message:

<img width="763" alt="Screenshot 2020-07-09 at 11 39 07" src="https://user-images.githubusercontent.com/1577802/87029971-d3478d80-c1d8-11ea-8a0a-c3c6fec0b920.png">

[2020-07-09 12:17] hmaesta commented on #561
Unfortunately not a developer here – I am a front-end designer, although I know enought to build a nice HTML interface, I am very bad at _real_ coding 😣

.

It will work on **hot reload** (since it's client-generated) but if you press Refresh – or Nuxt rebuilds – it will fail and return "_Cannot redefine property: $modal_".

.

Can someone give a little help here?

cc @lmuzquiz

[2020-07-09 13:23] kirillbunin commented on #561
@hmaesta your CodeSandBox works for me, even after refresh in new tab.

In your PR you deleted from docs
[code]
which registers `$modal` to the context of nuxt app (so that `this.$modal` or `context.app.$modal` can work). Might that error be related to this?
More on this https://nuxtjs.org/guide/plugins/#inject-in-root-amp-context

[2020-07-09 13:43] hmaesta commented on #561
@kirillbunin Please [try to fork it](https://codesandbox.io/s/nuxt-vue-js-modal-rc4-ssr-test-8eg84?file=/nuxt.config.js) to force a clean re-build on Codesandbox.

I am not successful with any of the following codes:

---

#### vue-js-modal--ssr--A.js

[code]
[code]

---

#### vue-js-modal--ssr--B.js

[code]
[code]

---

#### vue-js-modal--ssr--C.js

[code]
[code]

[2020-07-09 14:12] kirillbunin commented on #561
I see now that there has been more architecture changes in rc4 that I didn't bring myself up to date on yet. I'll take a look at it.

[2020-07-09 14:51] lmuzquiz commented on #561
@hmaesta There's a little weird bug i think on your website, below the footer:

![Screen Shot 2020-07-09 at 9 49 04](https://user-images.githubusercontent.com/11865448/87055347-d12a0280-c1c9-11ea-8517-8fed0add8d3f.png)

[2020-07-09 14:55] hmaesta commented on #561
Hey, @lmuzquiz. Thanks for pointing that out. We already reported that to [Gist](https://getgist.com/), a third-party service we use for chat.

[2020-07-09 15:23] euvl commented on #561
Thanks for looking into this 👍

[2020-07-09 20:10] mark-drastrup commented on #533
Hi @alexey-m-ysbm & @ricky11 :)

If you are still have this issue then you can solve it by using the `>>>` selector in the css from the parent component to target the css for the modal:

[code]

[2020-07-10 10:33] Jacob-Marshall commented on #588
Hi yev,

I'll help maintain it.

[2020-07-10 13:04] Jacob-Marshall opened #591 "Nuxtjs - ReferenceError: window is not defined"
**This is a duplicate, and I know this but the problem is still here. I have tried everything in the [previous issue](https://github.com/euvl/vue-js-modal/issues/301)**
**I am using version `^2.0.0-rc.5`**

#### Problem:

When I run `npm run dev` It outputs `ReferenceError: window is not defined` at `node_modules\vue-js-modal\dist\index.js`.

Thanks,
Jacob

**This is not on stackoverflow**

[2020-07-11 02:46] #566 closed

[2020-07-13 08:41] euvl commented on #591
for ssr you need to use
[code]

[2020-07-13 10:33] Gmiliuta opened #592 "[vue-js-modal] $modal() received object as a first argument, but dynamic modals are switched off."
#### Problem:

I could not find any documentation on how to enable dynamic modals. Link in the error does not take you to "dynamic modals section" (https://github.com/euvl/vue-js-modal/#dynamic-modals).

#### Version:

2.0.0-rc.3

#### Example & screenshots:

playVideo(videoPath: object) {
    this.$modal.show(
      ModalVideoPlayer,
      { videoPath }
    );
  }

Thanks!

[2020-07-13 18:38] euvl commented on #592
From now on, you dont need to switch on dynamic models, it just should work (in the latest published version)

[2020-07-13 22:19] #591 closed

[2020-07-13 22:20] euvl commented on #587
Will be closing this for now, ping me if you think this should stay open

[2020-07-13 22:20] #587 closed

[2020-07-13 22:21] #508 closed

[2020-07-13 22:22] #557 closed

[2020-07-14 21:58] toleberdyyeva commented on #592
Hi there! Is there some updates with Dynamic Modals on SSR (Nuxt) ?

[2020-07-16 14:06] euvl commented on #592
Don't know, i don't think there's anything specific for

[2020-07-16 14:06] #592 closed

[2020-07-16 14:06] #586 closed

[2020-07-17 00:46] hyunsu7993 opened #594 "The <v-dialog> tag in vue-js-modal and the <v-dialog> tag in vuetify overlap, and an error occurs."
### help me...
I am using vuetify in a nuxt based project,
vuetify's v-dialog tag and vue-js-modal's v-dialog tag are OVERLAP and an error occurs.
In this case, is it possible to give the <v-dialog> tag a different name?

[2020-07-20 11:22] ShekhSaifuddin007 opened #596 "How to stop transition between two modals"
#### Problem:
I'm creating login and register form when I switch between them I see there little blinking in eyes for that transition

#### Version: ^2.0.0-rc.3

#### Example & screenshots:

    <template>
        <div>

           <modal name="login" width="90%" height="auto" :maxWidth="500" :adaptive="true">
             <div class="p-12">
                <h2 class="text-center text-4xl text-tea

[2020-07-21 07:20] kikky7 commented on #561
I am using version 2.0.0-rc.6 with nuxt.

Everything is working when I use props (except overlay-transition property, but I just made css override for transition class, so it's fine).

[code]

But when I use dynamicDefaults, it doesn't work (all data in dynamicDefaults is ignored and not applied):

[code]

`<modal name="some-name">...</modal>`

Is dynamicDefaults removed from latest versions?

[2020-07-21 10:36] euvl commented on #561
it should work, i will take a look on the weekends

[2020-07-22 11:42] Landen13 opened #597 "Percentage values in maxWidth, maxHeight?"
I'm not sure if this was posted already (couldn't find anything related).

I need modal to be:
- height: auto
- when there's too much content - it should fit only 90% of screen height, leaving some gaps at top and bottom

The question is:
**How to set maxWidth and maxHeight as a percentage values from screen width/height?**

[2020-07-27 08:24] kimchristiansen commented on #563
The error is not only with dynamic content, but also with normal added modals.

[2020-07-27 15:45] Codefor-Future commented on #588
I want to contribute to this project :)

[2020-07-28 15:41] mvalitov commented on #580
i faced the same problem. In my case, the cause of the problem turned out to be this:
`Vue.component('modal', require('./components/ModalComponent').default);`
I had another custom component called `modal`. After renaming the problem disappeared

[2020-07-29 15:04] Jahb opened #598 "Trouble getting transitions to work in modals"
#### Problem:

Hello, so the documentation on the transition prop doesn't tell you much on how to use it based on the demos I have a setup like this:

[code]

The following code when a Model is shown instead of the default animation/transition modal just appears with no animation.

Could someone tell me where I am going wrong?

I am trying to do something that is done in this demo: https://github.

[2020-07-30 22:54] GeorgeFlorian opened #600 "Can't figure out how to use this. Documentation is lacking. Where is the button to open the modal ?"
Hello !

First of all, I want to say that this library and example page look good.

Secondly, I have read the documentation and I have no idea how to use it.

Thirdly, the examples page should contain the source code, for stupid idiots like to figure out how the hell to use the thing.

I have no idea how to use this because there is no "complete" example anywhere. There's only bits and pieces of i

[2020-07-31 00:02] #600 closed

[2020-07-31 00:05] GeorgeFlorian commented on #600
Don't worry, I can't stay stupid for too long, so I've figure out how to use this on my own.

Thank you for the best VueJS modal library out there.

[2020-07-31 14:22] GeorgeFlorian commented on #321
Is this possible ? If yes, how can we do it ?

[2020-07-31 14:31] GeorgeFlorian opened #601 "How do you send data from Modal to Parent ?"
In VueJS in order to send data from child component to parent component we can use `$emit`

Child component triggers clicked event:
[code]
Parent component receive clicked event:
[code]

`v-on` directive captures the child components events that is emitted by $emit

But how can we do this with the Dynamic Modal ? There is nothing in the documentation or readme regarding this flow direction of data

[2020-07-31 14:32] GeorgeFlorian commented on #297
@rmad17 How does your explanation looks like in code ? Can you write an example ? Thank you.

[2020-07-31 14:40] GeorgeFlorian commented on #415
@rangermeier Can you please expand the code into a full example ? I am trying to send data from modal to parent element but I don't understand how. What I have found until now are bits and pieces of code that I do not know where to put or how to use.

[2020-08-01 10:41] #564 closed

[2020-08-03 07:19] rangermeier commented on #415
@GeorgeFlorian

The parent component (`Parent.vue`) looks something like this:

[code]

And the modal component (imported as `Modal.vue` in the parent component):

[code]

The trick is, that `$emit` notifies only the direct parent of the emitting component. In case of `Modal.vue` the direct parent is *not* `Parent.vue`  but some wrapper injected by `vue-js-modal`:
[code]
Thus you have to access th

[2020-08-05 08:38] petr-ptacek commented on #601
Hi, i do this by provide the function handler to modal via props.

[code]
[code]

[2020-08-08 06:29] kidando commented on #397
Hi. I can't seem to get pinpoint where all this documentation is being referenced when working with this plugin using CDN. Where is this file/Readme on Bower that you are referencing above?

[2020-08-10 05:32] car1ot opened #605 "Modals are not divided into loadable chunks"
#### Problem:
Can't divide modals into loadable chunks.
I need to load modals only when they triggered to open. It will shrink first page load size. But this option is impossible. Here is my modals structure:

[code]

[code]

[code]

Modal still don't divided into loadable chunks.
If you got any ideas, please, help me.
#### Version:
^2.0.0-rc.3

[2020-08-11 06:10] Szymon-dziewonski commented on #523
Such a nice plugin but I cant use it because there is no way to change classes on modal elements. When I generate classes automatically I cant have fixed class name.

[2020-08-11 14:09] Therealskythe opened #606 "Typo in example code for static modals"
#### Problem:
There is a typo in the [documentation for static modals](https://euvl.github.io/vue-js-modal/Intro.html#static-modals). Therefore the modal will not show.

It reads:
`mount () {
        this.show()
    }`

It should read:
`mounted () {
        this.show()
    }`

#### Example & screenshots:

![modal](https://user-images.githubusercontent.com/3187318/89907379-e50fbc80-dbec-11ea-825a-1

[2020-08-14 02:45] thehashrocket opened #607 "How can I keep Vue Modal from dragging the entire draggable component?"
#### Problem:

I'm using vue-js-modal and vue-draggable. I have modal components inside the draggable component which can be triggered from inside the draggable component.

The problem I'm running into is that the modals that appear are also draggable. The biggest issue is that there is an input field in the modal and the user cannot highlight the text with their mouse because it'll cause everythi

[2020-08-14 09:01] hwaffle opened #608 "Issue without store when first accessing Secret Mode from Chrome"
#### Problem:
When first accessed in secret mode, the Vue component does not have a Store.
However, if you refresh the screen, there is a store.
If this issue occurs, there is a problem with 'this' object.
(This is a problem that occurs when entering the first page even if it is not in secret mode.)

I need help.
Thank you.

#### Version:
1.3.35

#### Example & screenshots:

[2020-08-15 21:24] soylomass commented on #493
Happens to me too

[2020-08-15 22:36] DEADSEC-SECURITY opened #609 "TypeError: Cannot read property 'show' of undefined"
#### Problem:
I keep getting the following erro in the console when I click the button to $model.show('demo-login'):

`TypeError: Cannot read property 'show' of undefined`

#### Version:
Latest

#### Full output on button click:
[code]

#### My code:
product.vue
[code]
[code]

The PopUp in a copy of [Model_login](https://github.com/euvl/vue-js-modal/blob/master/demo/src/components/Modal_Login.vue)

[2020-08-16 07:45] #568 closed

[2020-08-16 07:45] #589 closed

[2020-08-16 12:35] DEADSEC-SECURITY commented on #609
I'm not sure but I think you made a typo here

`<button @click="$model.show('demo-login')">PP</button>`

change to

`<button @click="$modal.show('demo-login')">PP</button>`

https://stackoverflow.com/a/63436676/12576581

[2020-08-16 12:35] #609 closed

[2020-08-18 10:29] baedyl commented on #597
I'm also looking for the same functionnality, we can set the height of the modal using percentage values, it would be great to do the same with maxHeight.

[2020-08-19 17:36] domissssssss opened #612 "Events aren't working in dynamic component on mobile"
#### Problem:

On desktop version everything is ok, but once I switch to mobile, all events (click, slide, gestures) does not respond.

#### Version:

I'm using 2.0.0.rc.3
Tried downgrading to 1.3.34 but issue persists + it breaks app a bit (transitions, modal container, etc) so I'd like to stick to 2.0

#### Example & screenshots:

code:
[code]
registered modal code:
(no dynamic: true and insertC

[2020-08-19 18:34] domissssssss commented on #612
not sure why, but using options in plugin caused this, so I just removed it and it works Vue.use(VModal)

[2020-08-19 22:01] #612 closed

[2020-08-22 16:04] TheoJL opened #613 "Component properties in dynamic modals are not reactive"
I really like this package, very useful! I stumble upon a reactive problem that I don't know if it's a bug or just not supported.

**Problem**:
After dynamic modal is open the component props wont react to changes. See example below where I change a prop after model is open.

#### Version:
1.3.35

#### Example & screenshots:
https://codesandbox.io/s/vue-modal-test-90vxg

[2020-08-23 09:25] #613 closed, assigned to nobody

[2020-08-25 16:49] kentforth opened #615 "Style for modal doesn't work in media queries"
When I try to apply style for modal in media queries it doesn't work

I tried to change width of modal to 300px when screen resolution is 768px

**How can I fix it?**

[code]

CSS:

[code]

[2020-08-29 19:55] #594 closed

[2020-08-29 19:55] #596 closed

[2020-08-29 19:55] #561 closed

[2020-08-30 20:04] A7madXatab commented on #589
currently there is a bug where the contents of the docs are not up to date, any ideas why this is occuring @euvl

[2020-08-31 09:34] maxvanceffer commented on #588
Maintainer found?

[2020-09-01 17:04] euvl commented on #588
Nope 😞

[2020-09-01 18:13] narration-sd opened #617 "vue-js-modal causes fail on builds, due to directly addressing 'window'"
#### Problem:
This is a nice module, when used in an npm develop version of an app.

However, if you npm build, you'll find the old 'window doesn't exist outside the browser' trap, and
your app will fail out of the webpack build.

Inside vue-js-modal, it's apparent that there are a number of calls on window.x, without the
well-known  `if typeof window !== 'unknown` protection.

#### Version:

vue-

[2020-09-03 05:45] euvl commented on #617
Hi thanks for your feedback, there is a guide in the documentation how to use it with SSR. If it is not SSR and for some reason, you don't have "window" - unfortunately, this plugin most likely not fit your use case 😄

Thanks.

[2020-09-03 05:45] #617 closed

[2020-09-03 06:01] euvl commented on #606
Hey, if you could create a PR - would be awesome, thanks

[2020-09-03 06:01] #606 closed

[2020-09-03 06:01] #580 closed

[2020-09-03 06:02] #552 closed

[2020-09-03 07:48] ricky11 commented on #588
you have some great vue packages on your profile, 2 of which i use.
did you switch to react?

[2020-09-05 19:48] #563 closed

[2020-09-05 19:48] #598 closed

[2020-09-07 15:07] LuizVisnadi commented on #563
I'm encoutering the same issue with the 2.0.0-rc6 version and using dynamic modals.

After some investigation, _div_**.vm--overlay** is the source of the problem. Overlay style rules seem to conflict with container style rules, specially **"height: 100vh"**.

When I add the css rules below, the error disappears.

[code]

[2020-09-10 12:40] euvl commented on #588
yeah, I did, it's much easier to have cross-functional teams with react/react native and my previous job was in react.

[2020-09-10 12:50] ricky11 commented on #588
but you secret prefer vue right..?  only if everyone else was using it.

[2020-09-10 15:13] euvl commented on #588
yes, tbh i would :D

[2020-09-12 20:59] #601 closed

[2020-09-15 07:33] yaquawa opened #621 "overlay should be placed under body tag directly"
#### Problem:
if the container has position set to `relative`, the overlay won't be placed properly.

[code]

#### Version: 2.0.0-rc.6

[2020-09-16 08:44] aloiseau17 commented on #545
It seems issue is still happening. I just try demo page [http://vue-js-modal.yev.io/](http://vue-js-modal.yev.io/), last modal "Dynamic: Component Modal with modal params" on my Android phone and chrome device devtool.

[2020-09-16 15:28] ever-dev opened #623 "maxWidth not working without adaptive option."
#### Problem:
I set
[code]
in order to set maximum width of the modal to be 600px.
So in the wide screens, it won't be bigger than 600px, but in the smaller screens it should have 90% of the screen width.

It works well with `:adaptive="true"` but it doesn't work with `:adaptive="false"`
#### Version:
^2.0.0-rc.6

#### Example & screenshots:

[2020-09-16 15:31] ever-dev opened #624 "The modal keeps bouncing up and down when adaptive is set"
#### Problem:

The modal keeps bouncing up and down when the modal height is bigger than screen height and `adaptive` is set to `true`.
It works fine when `adaptive` is `false` and `scrollable` is set to `true`.

#### Version:
^2.0.0-rc.6

[2020-09-16 15:32] ever-dev commented on #623
The reason why I set `adaptive` as `false` is related to [this issue](https://github.com/euvl/vue-js-modal/issues/624)

[2020-09-16 15:44] ever-dev commented on #623
I could do this by customizing the style
[code]
but I think we need to get this issue fixed.

[2020-09-17 17:31] JStrebeyko commented on #34
Hi there!

Love the module, using it with my current project with ease. BUT! there's this `.v--modal` class that still has white background and seems stubborn with overwriting attempts. Any hints? Cheers! :beers:

[2020-09-18 12:29] simonschaufi opened #625 "vue-js-modal@2.0.0-rc.6" has incorrect peer dependency "vue@2.6.11""
#### Problem:

I executed `yarn upgrade` and got the following warning:

`warning " > vue-js-modal@2.0.0-rc.6" has incorrect peer dependency "vue@2.6.11".`

#### Version:

vue-js-modal@2.0.0-rc.6
vue@2.6.12

[2020-09-19 15:41] gterras opened #626 "Vue3 Support?"
Hi,
Do you have plans to support Vue3 ?
Thanks

[2020-09-20 03:22] #607 closed

[2020-09-20 17:22] #608 closed

[2020-09-21 09:58] Baloneo opened #627 "Programmatic Modal"
#### Problem:
How to use in .js not .vue?

#### Version:

#### Example & screenshots:

[code]

[2020-09-21 12:58] euvl commented on #625
why is it incorrect?

[2020-09-21 17:03] simonschaufi commented on #625
my expectation is that it is using `"vue": "^2.6.11",` instead of `"vue": "2.6.11",` (note the `^`)

[2020-09-22 07:14] PathFun opened #628 "destroyOnClose"
#### Problem:

 how to destroy on  close

#### Version:

#### Example & screenshots:

[2020-09-23 08:56] ricky11 opened #629 "Hot Module Reload?"
#### Problem:
Using version 1.3 latest , i find the modal doesn't HMR when change are made to the css?

I have to force reload everytime the css is changed, which is quite painful when making small stylistic changes.

The problem also happens when editing the .vue template, HMR doesn't work.

Thanks

[2020-09-23 17:06] Fusseldieb commented on #626
Vue 3.0 is not even ready for production yet.

euvl is also searching for maintainers, so I guess before that, no.

I'm personally happy with Vue 2 and I think it will be at least one year until Vue 3 becomes production ready (or maybe even more!).

[2020-09-25 13:52] rommyarb commented on #303
Thank you. I need to restart VSCode after creating this file. Now it works 👍

[2020-09-28 09:50] Scino commented on #561
Are there any news?
In my case there's no way to make it work with Nuxt 2.14.4.
I tried all the solutions above and docs instructions.
I tried using versions 1.3.34, 2.0.0-rc.4 and 2.0.0-rc.6.
It keeps giving me the following errors:

Same errors using the [CodeSandBox](https://codesandbox.io/s/nuxt-vue-js-modal-rc4-ssr-test-8eg84?file=/pages/index.vue) above.

[2020-09-29 07:22] saltymouse commented on #346
In my case, I needed to force a height re-render on each opening of my modal to make it adapt to the new content's height. I was able to do this using refs and emptying the "renderedHeight" in the `beforeOpen` event like so:

[code]

[2020-09-29 21:55] syJSdev commented on #564
I also need this property.

[2020-09-29 23:31] syJSdev opened #630 "EscapeKeyUp event on Nested Modal."
#### Problem:

I made a nested modal with vue-js-modal and it works almost fine. But pressing ESC key closes all modals. I want to close the current modal with pressing ESC, not close all opened modal.

#### Version:
"vue-js-modal": "^2.0.0-rc.6"

#### Example & screenshots:
[code]

[2020-10-02 17:41] chipit24 opened #631 "Don't focus first element when focus trap is enabled"
This is a feature request as much as it is an issue, and I hope this is the right place to post this for discussion.

#### Problem:
Currently, enabling the `focusTrap` prop forces the first focusable element in the modal to gain focus:
https://github.com/euvl/vue-js-modal/blob/2682950e4f9ad37b50d0c4bff0a009856df0be9a/src/utils/focusTrap.js#L89-L91

This is not always desirable, as outlined in [WAI

[2020-10-04 02:29] #605 closed

[2020-10-05 20:48] Tyler-RCSD commented on #621
In my case I resolved this by using [vue-portal](https://www.npmjs.com/package/portal-vue) to change where the modal is actually rendered.

[2020-10-06 13:58] Gordondalos opened #632 "Not work scroll in modall on ios 14"
#### Problem:
chrom, safary not working
#### Version:
@latest
#### Example & screenshots:
![image](https://user-images.githubusercontent.com/7421933/95211410-5d21e980-080e-11eb-9568-da0aea9ad2a6.png)

[2020-10-07 11:54] edsel77 opened #635 "Error in event handler for "toggle": "RangeError: Maximum call stack size exceeded""
Error `Error in event handler for "toggle": "RangeError: Maximum call stack size exceeded"` encountered on click outside modal.

Code:
[code]

[2020-10-07 18:42] loren138 commented on #626
See https://github.com/euvl/vue-js-modal/issues/586 for details on the maintainer search.

[2020-10-09 01:47] garbinmarcelo commented on #507
Hi, any news about it?

[2020-10-09 02:13] garbinmarcelo commented on #45
Hello, sorry to "revive" here, but I would like to know if there is any method so that I can change the width of an active modal.
Eg:
```this.$modal.width('modalName', '500px')```

something along those lines. Thanks and sorry for the inconvenience

[2020-10-12 00:52] #615 closed

[2020-10-15 14:20] TiTTY-TWiSTER commented on #592
Hey buddy, am just delete in package.json old version 1.3 and install 2.0 from npm and this f*cking dynamic modal is works... dam

[2020-10-21 09:57] mcdis commented on #626
Hi!
vue 3 already released

[2020-10-21 11:38] Fusseldieb commented on #626
It's not even stable yet, or better, it lacks documentation. Just go with
Vue 2 and you'll be fine.

Am Mi., 21. Okt. 2020 um 06:57 Uhr schrieb MCDis <notifications@github.com>:

[2020-10-21 13:00] dominykasgithub commented on #626
https://www.jetcamp.com/ is under development to be compatible with vue 3, it's not unstable and docs are great tbh. I just used this packages in vue2, so if it's not going to vue3 for over a year, I guess I'll have work without modal package. Maybe if I'll find time, I'll look how hard it is to update this package and if not very hard I'll make pull request

[2020-10-24 11:12] p0psicles commented on #396
@cirokd the `events` param in your example. Is that really possible, or just a suggestion of yours?

[2020-10-24 12:22] bicstone opened #637 "Unexpected offset, when 'width' and 'height' set to '100%'"
#### Problem:
Unexpected offset, when 'width' and 'height' set to '100%'.
Only on mobile.

#### Version:
2.0.0-rc.6

#### Example & screenshots:
https://g0lce.sse.codesandbox.io/

Screenshot:
<img src="https://user-images.githubusercontent.com/47806818/97081467-9a271200-163d-11eb-964f-46443a4aa204.png" width="300px">

Unexpected offset: `left: 2px;`

I have checked stackoverflow for solutions and

[2020-10-24 12:25] bicstone commented on #637
![image](https://user-images.githubusercontent.com/47806818/97081747-72d14480-163f-11eb-8814-a49a22821401.png)

[2020-10-28 08:12] ShunichiTanaka commented on #455
I had the same error below. And updating from `1.3.31` to `2.0.0` , fixed it.
[code]

[2020-10-28 10:42] Batyodie commented on #61
I also faced with this problem. Did you solve it somehow?

[2020-10-28 11:44] Batyodie commented on #61
I understood what the problem was, I had to create an asynchronous function so that the test would wait until the modal window opens.
`import { createLocalVue, mount, shallowMount } from "@vue/test-utils";
import Vuex from "vuex";
// dropdwons componens files
import DropDown from "@/components/Module/DropDown/DropDown.vue";
import DropDownState from "@/components/Module/DropDown/DropDownState.js";

[2020-10-29 08:42] Gerdon262 commented on #588
I would like to contribute as well, I've already made a pull request for something I needed, which might help others as well.

Maybe you should make a (google) form with a few questions, or an introduction of the person who wants to contribute, this way you might find someone based on the given answers.

Maybe you prefer to stay as a maintainer, but let the community help you out just like we do n

[2020-11-03 08:50] ricky11 commented on #494
how would you keep a dynamic modal alive?

[2020-11-03 10:40] ricky11 opened #638 "How to keep a dynamic modal alive?"
#### Problem:
Dynamic Components cant be kept alive or can they?
Using a normal modal component, i can simply wrap them in <keep-alive> tags, but the same cant be done if we are using this.$modal.show(template)
We are re-using the template in both modals and normal inline views., but would like the option to keep alive both.

#### Version:

#### Example & screenshots:

[2020-11-03 17:08] ricky11 commented on #506
did you solve this?

[2020-11-09 14:08] Venegrad opened #639 "How to apend modal in body?"
If modal importing in component, it opened in parent relative. How to transfer modal to body close?

![image](https://user-images.githubusercontent.com/9676703/98551230-c087b700-22a5-11eb-9b35-eaa10811b1e6.png)

[2020-11-13 06:22] 99bird opened #640 "how to open dialog only? hide the modal ,the layer under the dialog can react events"
#### Problem:

#### Version:

#### Example & screenshots:

作者的作品真的太好了，希望能给点指导帮助。非常感谢

[2020-11-13 13:33] alehlipka commented on #440
Same problem

[2020-11-15 23:41] simonschaufi commented on #625
Ping

[2020-11-16 20:53] alarstyle commented on #635
Same issue

[2020-11-17 07:56] DJEDAINI commented on #588
Want to contribute :)

[2020-11-17 10:24] Pochwar opened #641 "Custom event in dynamic modal"
#### Problem:
How to use custom event in dynamic modal?

#### Version: 2.0.0-rc.6

#### Example & screenshots:

I want to display a component in a modal, and the component emits a custom event when I click on a button (`<button @click="$emit('custom-event')">Emit Event</button>`).

I found how to retrieve this custom event when implementing ta static modal :
[code]
But I want to do the same with a

[2020-11-17 10:59] sergeynilov opened #642 "Compatibility with vuejs3 ?"
Hello,
Are there compatibility of vue-js-modal with vuejs3 ?

Thanks!

[2020-11-17 11:11] sergeynilov commented on #642
I found declared 2.0.0-rc.X version. Is it for  vuejs3 ?

[2020-11-17 16:59] yaquawa commented on #621
I just created another modal component which solved the problem.

https://github.com/yaquawa/muku-ui

[2020-11-23 12:34] mtlehtin commented on #642
There is no Vue 3 support yet.

There are already couple of issues related to this matter:

- https://github.com/euvl/vue-js-modal/issues/626
- https://github.com/euvl/vue-js-modal/issues/586

[2020-11-24 07:29] fateme572 commented on #641
I have the same problem

[2020-11-24 19:04] juliageek commented on #588
@euvl Did you decide on a contributor yet? I am also interested to help maintain this project.

[2020-11-27 04:48] uriel2707 opened #644 "how to install with script tag?"
#### Problem:
is there a version to install js-modal using a tag script?

[2020-11-27 20:46] FrancisCaille commented on #563
Having the same problem

[2020-11-30 14:39] bicstone commented on #641
duplicate of #192

[2020-12-03 14:08] sam-k-taylor opened #645 "Modal cuts of bottom of select elements"
#### Problem:
 cutting of the bottom of select element drop down

#### Version:
2.0.0-rc.6

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/71709524/101028985-d456ce00-3570-11eb-85d1-c57931139420.png)

[2020-12-03 16:44] antek-drzewiecki commented on #641
My workaround - maybe a hack - was to use the build in events from `vue-js-modal`.
I use vue class components  so my example will be using them.

first create a custom component
[code]

Then in your main function you can use:

[code]

I managed to extract the parameters from the before-close event...
It does not fit all usecases, but i hope it does yours..

[2020-12-04 23:03] quick919 opened #646 "Please tell me how to enable the "Dynamic Modal" function. ver1.3.34"
#### Problem:

$modal() received object as a first argument, but dynamic modals are switched off.

I've checked the documentation, but I don't know how to enable the "dynamic modal" feature.

I know that in 2.0.0 rc, it is not necessary to turn on the "dynamic modal" function.
It didn't work in 2.0.0rc, so I want to check it in the stable version.

#### Version:
1.3.34

[2020-12-06 04:48] adampbragg opened #647 "Opacity transitions not working on the overlay"
#### Problem:
Opacity transitions not working on the overlay. Other transitions do work, just not opacity. The result is the same with or without the opacity transition as the default overlay styles. Applying the same transition to the modal results in a fade-in like what we should be seeing here with the overlay.

#### Version:
2.0.0-rc.6

####
Using the following css:

[code]
With the following

[2020-12-08 14:01] euvl commented on #588
Hey, no luck yet.

I got A LOT of emails like "Transfer the repo to me and I will contribute".

I had to decline those for many reasons, particularly:

* I don't know these people, most of them have like 0 contributions to open-source.
* It is dodgy, this package is used by 10000s, what if someone has malicious intent and will inject bitcoin miner or other shady stuff in dist file.
* Even if I am

[2020-12-08 14:04] euvl commented on #588
BUT just want to highlight that if you guys want to contribute, **JUST DO IT!** (c) Shia LaBeouf

Just create PRs, start working on fixing issues, understand why some things are made in the way they are made, etc;

### 🤗 There are no restrictions on contributing - any registered github user can create a pull request!

[2020-12-08 14:31] Gerdon262 commented on #588
@euvl Nice to see your response.

As said in my previous comment, you do not have to 'transfer' the project to another contributor. You can just have someone as a collaborator, this will keep you in charge but lift some weight off your shoulder by accepting PR's. If you don't like what that person does just remove him.

[2020-12-11 09:28] samuelduann commented on #646
import VModal from 'vue-js-modal'

Vue.use(VModal, {dynamic: true})

[2020-12-11 22:37] quick919 commented on #646
Thank you very much.

In my environment, `[vue-js-modal] In order to render dynamic modals, a <modals-container> component must be present on the page.`
I got a warning.

`Vue.use (VModal, {dynamic: true, injectModalsContainer: true});`

After changing to, the modal started normally.

This isuue closes.

[2020-12-11 22:37] #646 closed

[2020-12-13 15:30] embluk commented on #600
@gabskoro I have been facing the same issues, any chance you could explain what you did to get it working?

[2020-12-13 15:43] gabskoro commented on #600
I believe you wanted to ask @GeorgeFlorian 😅

[2020-12-13 15:45] embluk commented on #600
Oh yeah, not sure what happened there, sorry about that 😅

[2020-12-14 15:47] GeorgeFlorian commented on #600
@gabskoro I have forgotten. I've only used it then, almost 4 months ago and never since. I forgot what I did or how I made it work.
Just try different things, write code over and over. Trial and error. That's how I did it.

[2020-12-14 15:48] GeorgeFlorian commented on #600
I have forgotten. I've only used it then, almost 4 months ago and never since. I forgot what I did or how I made it work.
Just try different things, write code over and over. Trial and error. That's how I did it.

[2020-12-14 22:18] euvl commented on #588
Ahh you are right there is a difference between contributor and collaborator in the github, i was thinking in the context of contributors (assumed it's `===`) 😄

I will catch up with PRs during christmas time and will start inviting contributors into collaborators, thanks for your suggesting 👍 🙏

[2020-12-16 22:09] embluk commented on #583
The `click-to-close` property is wrong on the docs as it is listed as `clickToClose`?

[2020-12-17 22:08] guillaumebriday commented on #508
@euvl Could you please reopen this issue?

I tried with 1.x and 2.x, it does not work. I'm using the https://github.com/jeffreyguenther/vue-turbolinks adapter and it works fine with every single other components I have in my application.

This is a screenshot on the first load:
![Screenshot 2020-12-17 at 23 06 23](https://user-images.githubusercontent.com/8252238/102549528-8daebb00-40bc-11eb-9610-

[2020-12-18 07:39] sergomet commented on #508
@guillaumebriday share the code please (part of it ... where the calendar and modal init). I am using the modal in the same way and it works for me, the only problem would be if you have async data in your modal (i.e: from an ajax call).

[2020-12-18 10:05] fyzbh opened #651 "Missing required prop: "open""
#### Problem:
Error when using the modal with our existing Nuxt js project

[code]

I have used this plugin to show modals with multiple plugins with the same tech stack, recently I tried adding in a nuxt project, I keep getting this error which I have never face in other projects actually.

Can someone please help us on what exactly this is?

I just tried adding a prop called `:open=true` to see

[2020-12-19 05:49] ton77v commented on #346
I had problems with "height: auto + scrollable" since one of the updates, the height was calculated wrong

Fixed that using CSS rule that overrides the height set by JS:
`.my_modal {
  .vm--container.scrollable {
    .vm--modal {
      height: auto !important;
    }
  }
}`

[2020-12-19 08:08] #623 closed

[2020-12-19 08:08] #624 closed

[2020-12-19 08:08] #627 closed

[2020-12-19 08:08] #628 closed

[2020-12-19 08:08] #629 closed

[2020-12-19 08:08] #630 closed

[2020-12-19 08:08] #631 closed

[2020-12-19 08:08] #632 closed

[2020-12-19 11:29] simonschaufi commented on #625
ping

[2020-12-21 14:37] edshen17 commented on #330
I had a similar problem. Changing v-if to v-show didn't work for me, so I just moved my modal outside of a wrapped v-if div and it worked. Thanks!

[2020-12-21 14:49] chipit24 commented on #631
Stale issues are still issues; what's the benefit of the stale bot?

[2020-12-22 04:59] guanyun-helo commented on #412
still this issue need be used

[2020-12-22 13:47] alexbruno commented on #626
Vue 3 is stable already and very well documented, including migration guide.
The official libraries, like vuex and vue-router, are still in beta, but Vue is stable already:

From [vuejs/vue-next](https://github.com/vuejs/vue-next):

So, Vue 3 is going to take the main distribution position soon.

[2020-12-22 18:35] vaiil commented on #400
@euvl Is it impossible to pass slots into dynamic modals?
There are at least 3 similar questions in issues, all of them were closed by stalebot.

[2020-12-27 02:36] SaurabhKharivale commented on #561
For those who are facing issue with $modal property not available on Nuxt context object try injecting modal via Vue prototype.

`inject('modal', Vue.prototype.$modal)`

I have tested it on following:
Nuxt: 2.14.6
Vue Js Modal: 2.0.0-rc.6

Complete nuxt plugin code:

[code]

@euvl request you to change the SSR docs line `inject("modal", VModal);` to `inject('modal', Vue.prototype.$modal)`.

When w

[2020-12-28 13:44] maxosp opened #653 "Toggle css-class in modal when start dragging / end dragging."
#### Problem:
I need to make modal's style `opacity: 0,5` when I dragging it. So I didn't find the way to do that.
It would be nice if there was an events like 'start dragging' and 'end dragging' to dynamically change modal`s styles.
If there is another way, please tell me how to do that.

[2020-12-29 00:06] 64J0 opened #654 "Tests with Jest"
#### Problem:
No problem.

#### Version:
Most recent.

#### Example & screenshots:
Hey guys, I'm studying some techniques in automated tests with Jest and considering to apply some in this project. Do you think it would be good? Actually I've never made a contribution to a open source project so I don't really know how to proceed. Is there any layout used to make the pull requests/commits?

[2020-12-31 18:34] jassehomar commented on #588
I would love to be a contributor. At the moment, do you have any feature in mind that you would want to add? I think that can also be a good start for those who would like to contribute.

[2021-01-02 22:02] 64J0 commented on #654
Do you have any material recommendation to study the project structure? I've never created a Vue component without the .vue extension. In other words, I need to study more to be able to contribute to this project, but would appreciate if any direction is given at this point.

[2021-01-05 10:34] euvl commented on #588
Hey, no particular features in mind but maybe a good start will be something like:

* to investigate what are the requirements for using it in vue 3
* improving unit tests coverage
* this nasty thing i never had time for: https://github.com/euvl/vue-js-modal/issues/335
* and another one: https://github.com/euvl/vue-js-modal/issues/346

Also there was an interesting todo:
* https://github.com/euvl/

[2021-01-05 15:53] piscis commented on #639
I had the same issue recently and was able to solve it by combine Vue Js Modal with portal vue lib. (https://github.com/LinusBorg/portal-vue)

[2021-01-06 17:51] #625 closed

[2021-01-09 10:05] maxosp commented on #653
If you no longer maintain this repository, write about it, please.

[2021-01-10 15:11] simonschaufi commented on #625
@euvl Could you please make a new release to finally get rid of this error?

[2021-01-12 07:05] HamzaInPerth opened #655 "Impossible de scroll more (up / down)"
#### Problem:

After the modal got trigger, I'm able to scroll down once, but then I won't be able to scroll more down or back to top.

#### Version:
    "vue-js-modal": "^2.0.0-rc.6"

I use firefox developer edition

#### Example & screenshots:

[code]

[2021-01-12 07:34] HamzaInPerth commented on #655
All good. That was a CSS library issue.

[2021-01-12 21:17] #655 closed

[2021-01-15 11:18] euvl commented on #647
Strange, maybe it is because overlay has it's own opacity?

[2021-01-15 11:20] euvl commented on #651
Hey, there is no `open` prop in the modal, https://github.com/euvl/vue-js-modal/blob/2682950e4f9ad37b50d0c4bff0a009856df0be9a/src/components/Modal.vue

[2021-01-15 19:50] marcamos commented on #440
Same here.

[2021-01-19 13:26] #653 closed

[2021-01-20 10:51] fyzbh commented on #651
@euvl Yes, that's what my issue is, there is no prop required to use the modal, and yet it fails to render throwing a error asking for a prop called `open`.

[2021-01-20 12:15] offurface opened #656 "How change container in dynamic modal?"
How change container in dynamic modal? I try use vuetify classes in dynamic modal, but styles wrong. If I move modal in tag with class `v-application` all work.

[2021-01-20 22:11] ncampuzano opened #657 "Handle visibility with property"
#### Problem:
I was searching on issues and I didn't find it. My problem is that I couldn't pass any prop to the modal to manage the visibility. An example is a bootstrap-vue modal that you can use the visible prop to pass a boolean value that means whether the modal is visible or not

#### Version:
2.0.0.rc6

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/5368137/1

[2021-01-22 15:39] xvladxtremal commented on #507
Any news +1 ?

[2021-01-31 13:19] noonanwebgroup commented on #625
@euvl If you could make a new release that would be great. It's currently preventing us from using other packages which depend on Vue 2.6.12

[2021-02-01 15:06] MateoArgalle opened #658 "Error when implemented according to documentation"
#### Problem:
When I follow the steps to implement a dynamic modal line I get this error

#### Version:

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/58223373/106476375-00110a00-6475-11eb-8018-ab44ed4f7051.png)

This is code:

![image](https://user-images.githubusercontent.com/58223373/106476488-1cad4200-6475-11eb-81f0-01e81414bec9.png)
![image](https://user-image

[2021-02-08 14:11] carlossantos74 opened #659 "The component does not save the information in the data"
#### Problem:
I need the component to save some properties for when it reopens to show the information again. In general in inputs, I need to use the v-model for this, but apparently the component destroys everything inside, including the children.

#### Version:

#### Example & screenshots:

[2021-02-09 23:31] embluk commented on #437
What about CSS media queries?

[2021-02-10 01:02] embluk commented on #615
I was having the same issue, doesn't seem to be native support for this use case, so I had to change and override the CSS to get it working with different heights and widths when the screen size changes.

For example, this worked for me:

[code]

Where `.modal` is assigned by using the `classes` prop with this plugin. I then set my initial height and width using the `height` and `width` props also

[2021-02-12 17:43] eakenbor opened #660 "Unable to add border radius to the modal"
#### Problem:

I am unable to add border radius to the modal. I have tried using classes but to no avail. Please can anyone help me with this?

#### Version:

#### Example & screenshots:

[2021-02-17 21:56] Luke-SF opened #661 "Third button/left button?"
#### Problem:
Doesn't seem to be any option to add a third button. Or a third button to the left.

#### Version:
The one just pulled from npm

[2021-02-22 12:17] liyasthomas opened #662 "Classes for dynamic dialog modal"
#### Problem:

For [static](https://euvl.github.io/vue-js-modal/Intro.html#static-modals) and [dynamic](https://euvl.github.io/vue-js-modal/Intro.html#dynamic-modals) modals, there's an option to add `classes` to modal window. But this is absent for [dialog](https://euvl.github.io/vue-js-modal/Intro.html#dialogs) modals.

#### Version:

v1.3.34

#### Example & screenshots:

Dialog background is wh

[2021-02-26 13:13] Vincently92 commented on #625
can you solve it?

[2021-02-26 13:17] noonanwebgroup commented on #625
@Vincently92 no, @newsrw has already provided a fix and it has been merged. Just awaiting a new release.

[2021-02-26 13:26] Vincently92 commented on #625
how, then, to use this plugin?

[2021-03-04 14:21] avpavp commented on #594
I'm also using Vuetify, and things were working fine, but now the dialog just won't show.  I call:

this.$modal.show("dialog", { ...

but nothing happens.  No errors in console; just no dialog shows...

Any ideas?

[2021-03-04 14:23] avpavp opened #664 "Dialog not showing? Vuetify?"
#### Problem:

Dialog not showing

#### Version:

2.0.0rc6

#### Example & screenshots:

I'm also using Vuetify, and things were working fine, but now the dialog just won't show. I call:

this.$modal.show("dialog", { ...

have:

<v-dialog />

in my template.

but nothing happens. No errors in console; just no dialog shows...

Any ideas?

[2021-03-04 22:04] JshGrn commented on #626
+1 for Vue3 support

[2021-03-06 12:05] kyrollos-saad opened #665 "Missing required prop: "name""
#### Problem:
`name` property is ignored and shows me an error message that it could not be found because it is a required prop
i couldn't find an example in the repo (or on Google) that shows the use of the other version of the `$modal.show()` function (the one that takes a component object, component props object, modal props object and events object)

#### Version:
2.0.0-rc.6

#### Example & sc

[2021-03-07 14:34] hunterliu1003 commented on #626
Hi, I'm the author of [vue-final-modal](https://github.com/vue-final/vue-final-modal) and it supports Vue2 and Vue3.
Maybe you can consider replacing `vue-js-modal` with `vue-final-modal`.
If you have any problems when using `vue-final-modal`, please open an issue. I will be happy to help you solve the problem.

[2021-03-07 15:20] hunterliu1003 commented on #588
Hi, I'm the author of [vue-final-modal](https://github.com/vue-final/vue-final-modal) and it supports `Vue 2` and `Vue 3` both.
I really learned a lot from **vue-js-modal**. vue-final-modal reference a part of the code of vue-js-modal, for example:

- Dynamic modal
- Transition
- FocusTrap

However, there are still some differences between using vue-js-modal and vue-final-modal.
For example, you m

[2021-03-08 15:11] #588 closed

[2021-03-08 15:47] traed commented on #664
I have the same issue, but not using Vuetify.

[2021-03-08 16:25] minorbug opened #666 "Make `visibility.overlay` public"
#### Problem:

I have a need for a modal that allows for interaction with DOM elements on the page that exist below the modal overlay.

#### Version:

#### Example & screenshots:

[2021-03-09 09:38] traed commented on #664
Found the issue for me. The `v-dialog` component wasn't loaded for the particular page I was on.

[2021-03-11 10:54] HamzaInPerth opened #670 "Cannot set a minWidth and a width (for mobile)"
#### Problem:
Im trying to set 50% of the modal on desctop, and 100% on mobile. Please have a look bellow :

#### Version:
"vue-js-modal": "^2.0.0-rc.6"

#### Example & screenshots:

    <modal
      name="form"
      :focusTrap="true"
      :scrollable="true"
      :adaptative="true"
      width="50%"
      minWidth="300px"
      height="auto"

      <div class="bg-black flex flex-row justify-bet

[2021-03-12 12:21] T0miii opened #671 "Rename prototype Property"
#### Problem:

Not a problem more of a Question.

Is there a way to re-bind the Modal to a different prototype property? `this.$modal ` or to rename it.

[2021-03-12 16:06] xaddict opened #672 "[feature] A way to listen for custom events from programmatic modals"
#### Problem:
I have a dynamic modal where the user can link two entities.
Depending on what they do in the modal I would like to emit a custom event because in all cases I need to do something else in the parent component:
- `this.$emit('reload-list')`
- `this.$emit('entities-unlinked')`
- `this.$emit('oh-crap')`

With a non-programmatic modal this is easy to do:
[code]
the parent component has a

[2021-03-13 08:27] lguegu50 opened #673 "Installation of version 2.0.0-rc.6 on nuxt causes build issue in nuxt"
#### Problem:

Installation of version 2.0.0-rc.6 on nuxt causes the issue

![image](https://user-images.githubusercontent.com/48799482/111024257-fbc5fe00-83dd-11eb-8eed-3f338ee707aa.png)

i think because version 2.0.0-rc.6 needs vue@2.6.11 exactly in its peer dependencies.

#### Version:

 "nuxt": "^2.15.3"

#### Example & screenshots:

[2021-03-15 17:25] dhritzkiv commented on #637
I also experience this (in the v1 branch), where my 'left' offset is 5px. This only happens at specific widths (not necessarily related to breakpoints). For example, for me this occurs when the window is at 928px wide, 954px wide, 962px wide, but not in between those pixel widths.

[2021-03-15 19:07] ShekhSaifuddin007 opened #674 "scrollable not working when adaptive mode is true"
#### Problem:
I'm using this plugin the problem is when I use `:adaptive="true"` I can not scroll the modal when the modal height is bigger than the screen, how can I solve this.?

#### Version:
`"vue-js-modal": "^2.0.0-rc.6"`

#### Example & screenshots:
this my setup

[code]

is my setup is correct or I missed something..

[2021-03-16 08:06] Cannonb4ll commented on #673
Having the same issue here, it happens with `vue-template-compiler` as well.

[2021-03-17 02:42] minorbug commented on #628
Have you been able to destroy a modal after closing?

[2021-03-17 16:12] kenxdrgn commented on #673
I'm having the same issue too. A temporary solution is to downgrade to the previous stable version.
`npm install vue-js-modal@1.3.34 --save`

[2021-03-19 08:05] ShekhSaifuddin007 commented on #674
@euvl can you suggest to me how can get this to work with `:adaptive="true"` if there is no way to do it then how can we get that functionality without `:adaptive="true"`

[2021-03-19 16:07] #670 closed

[2021-03-22 18:56] marcoelissa commented on #672
You can pass functions as props. Here is how I'd do it:

Define the function to catch event from child component in parent
[code]

Insert function as a prop in dynamic modal
[code]
Execute function in child component
[code]
[code]

Hope this help. Cheers!

[2021-03-23 08:04] xaddict commented on #672
It's a pretty clean workaround so I will try it.

But I would prefer just using plain emitters :)

[2021-03-28 15:14] AlexMalikov94 commented on #673
I have the same problem you need set vue version 2.6.11 and vue.compiler 2.6.11 and then use the command below.

```npm install vue-js-modal --save-dev --save-exact```

[2021-04-01 06:21] AmirRezaM75 opened #678 "Anonymous component in vue dev tool"
#### Problem:

I don't know why but my modal renders outside of my vue root element (#app).
every functionality woks fine.

#### Code:

Here is my setup:
app.js
[code]
How I call it:
[code]
ReplyModal.vue

[code]

#### Version:
``"vue-js-modal": "^2.0.0-rc.6",``

#### screenshots:
![Screenshot from 2021-04-01 10-40-49](https://user-images.githubusercontent.com/20792176/113251667-ec98e880-92d7-11eb

[2021-04-06 00:54] seancolsen commented on #625
@euvl I would love to see a release so that I can install vue-js-modal in my Nuxt app

[2021-04-08 10:19] mdaffan01 commented on #673
Same issue

[2021-04-10 06:55] AmirRezaM75 commented on #678
I wasn't declare ``<modals-container/>`` in my master page

[2021-04-10 06:55] #678 closed

[2021-04-14 17:14] jrbautista10 commented on #674
Same issue, been fixing this for 2 months now but got no luck.

[2021-04-14 19:11] urbgimtam commented on #673
Same here.

[2021-04-16 04:18] Exordio opened #679 "Transition prop doesn't work correctly"
#### Problem:

Transition prop doesn't work correctly,

Whatever I send to modalProps transition, nothing happens.

Tested with animate css by sending class names directly to prop
And I also tried to send my Fade class there, nothing happens either.

#### Version:

2.0.0-rc.6

#### Example & screenshots:

https://imgur.com/lrx8OuS

I also tried to see examples of how it works for you, but the code

[2021-04-16 21:55] atourkow commented on #660
After banging my head around for hours I finally figured out how to overwrite the `.vm--modal` CSS.
It's actually VERY simple.  Just add `!important` to the CSS (make sure the `.modal-override` class is global and not scoped)
[code]
[code]

[2021-04-16 21:55] atourkow commented on #496
After banging my head around for hours I finally figured out how to overwrite the `.vm--modal` CSS.
It's actually VERY simple.  Just add `!important` to the CSS (make sure the `.modal-override` class is global and not scoped)
[code]
[code]

[2021-04-16 21:56] atourkow commented on #521
After banging my head around for hours I finally figured out how to overwrite the `.vm--modal` CSS.
It's actually VERY simple.  Just add `!important` to the CSS (make sure the `.modal-override` class is global and not scoped)
[code]
[code]

[2021-04-16 21:56] atourkow commented on #34
After banging my head around for hours I finally figured out how to overwrite the `.vm--modal` CSS.
It's actually VERY simple.  Just add `!important` to the CSS (make sure the `.modal-override` class is global and not scoped)
[code]
[code]

[2021-04-19 21:16] rafalolszewski94 commented on #626
This doesn't have proper documentation to make it work with Vue 3.

I may take up on writing a MR for Vue 3.

[2021-04-19 21:28] mikeerickson commented on #626
@rafalolszewski94 Thanks for chiming in, I have a need for the same thing (v3 support).  I will have a look at your project.

[2021-04-20 08:45] rafalolszewski94 commented on #626
I'm working on it here: https://github.com/rafalolszewski94/vue-js-modal/tree/vue3

Currently got working:
- Local docs (updated to VitePress)
- Updated Vue to v3
- Made static modal working

Will keep you guys posted 🤜

[2021-04-20 13:32] amisora commented on #672
I would also like to use emitters, do you think that would be possible ?

[2021-04-22 14:27] bretonsmartek commented on #656
Did you figure this out, or did you just end up applying `v-application` to the modals?

[2021-04-26 17:30] BakoviDagi commented on #674
As a temporary workaround until a PR is merged you can extend the component and override the "autoHeight" computed:
[code]

[2021-04-27 13:09] VictorPullzz opened #682 "Error when click esc on 2 modals"
#### Problem:
When trigger one modal over the other (something like: "Some changes are unsaved. Close anyway?"),
and  press on esc, I got this error:
TypeError: Failed to execute 'observe' on 'MutationObserver': parameter 1 is not of type 'Node'.

#### Version:
"vue-js-modal": "^1.3.34"

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/23406402/116246316-8be3bb00-a772

[2021-04-27 13:55] mofolo commented on #580
Hi!
Experienced the same problem.
The issue is because your `Notification` component has a <Model></Model> segment within it as the top-level DOM.
Change it to a <div></div> or something else and it should work.

[2021-04-29 17:26] fervailanti commented on #624
+1 here.

[2021-04-29 17:29] fervailanti commented on #655
@HamzaInPerth Hi! I'm facing the same issue. How did you solve it?

[2021-04-29 17:35] fervailanti commented on #461
+1 here. Tested in Chrome and Safari with iPhone X.

Any news or workaround?

[2021-04-29 17:40] HamzaInPerth commented on #655
I use another lib, it wasn't a CSS issue finally. use : vue-modal

[2021-04-29 17:53] fervailanti commented on #655
Oh! I imagined that. That is a serious issue with the scroll there...

Do you mean **[this](https://github.com/wizardpisces/vue-modal)** vue-modal?

Thanks!

[2021-05-03 18:15] ShekhSaifuddin007 commented on #674
@BakoviDagi good thing but where or how I can find the `AbstractModal` in my project I can't find this

[2021-05-05 08:18] ajuvonen commented on #664
We experienced a similar problem when we first incorporated Vuetify to a project using vue-js-modal. The closed issues seem to suggest that this relates to both Vuetify and vue-js-modal trying to register a v-dialog component. Since we only want a very limited subset of Vuetify components, a working solution for us appears to be to remove vuetify-loader from our project and instead manually import

[2021-05-06 15:03] Romko775 commented on #674
import AbstractModal from 'vue-js-modal/src/components/Modal';

try this

[2021-05-10 17:29] ShekhSaifuddin007 commented on #674
@BakoviDagi Thanks brother it's working,

[2021-05-13 09:06] poulSoul commented on #672
临时解决方案
[code]

[2021-05-19 04:23] GuasaPlay commented on #674
@Romko775 How can I find AbstracModal because it shows an error that the Modal could not find?
![image](https://user-images.githubusercontent.com/45466316/118756226-137f8f80-b830-11eb-9292-170ffa968d30.png)

[2021-05-19 06:47] ShekhSaifuddin007 commented on #674
@GuasaPlay paste the above code inside your app.js it will work

[2021-05-19 14:41] GuasaPlay commented on #674
@SaurabhKharivale  I'm using Nuxtjs so there is no `app.js` file, but there is a `nuxt.config.js` file. 😕

[2021-05-19 15:03] BakoviDagi commented on #674
@GuasaPlay I'm also using nuxt. You can just use a [plugin](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-plugins/):
`nuxt.config.js`:
[code]
`plugins/vue-js-modal.js`:
[code]

[2021-05-19 17:10] SaurabhKharivale commented on #674
@ShekhSaifuddin007
following css rule fixed the scrolling issue for me

[code]

[2021-05-19 18:54] GuasaPlay commented on #674
@BakoviDagi My configuration is the same, but it still doesn't work. Maybe it's the nuxt version

[2021-05-19 18:55] GuasaPlay commented on #674
@SaurabhKharivale Thanks it's working

[2021-05-30 16:18] peoray commented on #673
This still hasn't been resolved :(

[2021-06-02 09:51] dnl-re opened #701 "Incompatible with vue version 2.6.13: Error "unable to resolve dependency tree""
#### Problem:
If a clean project uses vue version 2.6.13 it will throw an "unable to resolve dependency tree" error when installing vue-js-modal with ` npm i vue-js-modal`.

#### Version:
2.0.0-rc.6

#### Example & screenshots:
I've created a clean default vue 2 app with the vue cli (@vue/cli 4.5.12) and run ` npm i vue-js-modal`.

Following error was displayed:
[code]

[2021-06-04 17:01] SarwarAhmed commented on #701
I just use `--force` and it works.
[code]

[2021-06-16 11:55] kaevupoiss commented on #141
There is a workaround.

Use width for setting the max width you would need and max-width to toggle the actual width changes.

[2021-06-20 03:48] vis97c commented on #56
I was unable to make it work, more taking into account that the $modal property cannot be overriden. I think the best approach is still to modify the plugin so i will fork this and do it on my own. These defaults are for the static modal and not the dynamic one.

[2021-06-22 12:51] dduupp commented on #597
I've used `:max-height="Math.floor(window.innerHeight * 0.9)"` to achieve this.

[2021-06-26 03:22] #642 closed

[2021-06-26 03:22] #635 closed

[2021-06-26 03:22] #638 closed

[2021-06-26 03:22] #640 closed

[2021-06-26 03:22] #621 closed

[2021-06-28 11:53] khusseini opened #706 ""auto" no allowed in width property"
#### Problem:
When I set the properties:
[code]
The backdrop of the modal shows, but not the window itself.

In the console I can find the error:
[code]

When I use the following properies:
[code]
The modal opens, however the width is always set to `480px` which is totally wrong. The `maxWidth` should be `480px` not the width of the modal.

How can I keep the modal width adaptive, just like its he

[2021-06-29 07:47] #671 closed

[2021-06-30 17:50] bangnokia commented on #701
I think the author abandoned this package

[2021-06-30 20:27] jtrod commented on #674
I have the same issue.

[2021-07-01 19:42] GerdonAbbink commented on #682
@VictorCazanave Can you create a working example using CodeSandbox? We can try to re-create it but we might not even have this bug.

[2021-07-04 03:48] VictorCazanave commented on #682
@GerdonAbbink I think you've tagged the wrong Victor 😄 @VictorPullzz

[2021-07-05 16:16] #706 closed

[2021-07-07 13:31] xaddict commented on #672
@poulSoul global listeners will be deprecated in Vue 3.

Functions like described @marcoelissa don't have this problem. So I will use that for now.

[2021-07-08 21:39] pierrexp9 commented on #674
issue still existing today (so the stale bot keeps its cool)
meanwhile, the css fix is quite nice : https://github.com/euvl/vue-js-modal/issues/674#issuecomment-844301259

[2021-07-20 19:56] GerdonAbbink commented on #682
Whoops, I guess I did. Excuse me :)

[2021-07-21 15:57] yennor commented on #701
as it seems this was fixed in december 2020 but never released...:
https://github.com/euvl/vue-js-modal/commit/b1a48534b033ef4e2508dfb26ce3315d94647d0c

since there were some recent updates to the git, hopefully a new realease will be made soon???

[2021-07-27 08:46] bisubus commented on #626
@rafalolszewski94 Thanks for the fork. It's not published yet, is it? Unfortunately, vue-final-modal is not a drop-in replacement.

[2021-07-28 13:18] xaddict commented on #626
bump

[2021-07-29 18:41] vricosti commented on #626
Could someone merge  rafalolszewski94 work and publish a new version for Vue 3 ?

[2021-07-30 13:40] MarijnFK opened #711 "Can't drag modal outside of window bounds"
#### Problem:
Can't drag modal outside of window bounds

#### Version:
2.0.0-rc.6

#### Example & screenshots:
Is it possible to disable the dragging-boundaries? I would like to be able to drag the modal (partially) outside of the window-bounds

[2021-08-05 03:40] Roninii commented on #674
[This Nuxt soution](https://github.com/euvl/vue-js-modal/issues/674#issuecomment-844193168) does in fact fix the issue for me, as well as the "bouncing" effect from #624. However, there are a couple tweaks I had to make that weren't obvious at the time (to me).

A. You have to add `.vue` to the end of this line
`import AbstractModal from 'vue-js-modal/src/components/Modal.vue'`
B: This one is obvi

[2021-08-09 15:51] PandaCodeLab opened #718 "How to hide() when this.$modal.show(component) from import"
#### Problem:
I am using component from import in Nuxt. Calling modal with this component (ModalDynamic)

I thought for a long time about how to close the modal window when we pass a component to it when calling it, it has no name,  we are passing in a component, not a string. So closing works through a data modal attribute. But...

When i am closing modal via this.$modal.hide('dynamic_modal_0') a

[2021-08-13 04:03] 0xhua opened #722 "Cant open mutiple v-dialog"
#### Problem:
The problem is you can only use one v-dialog, since calling dialog is by this.$modal.show("dialog")
i want to show another dialog after showing and hiding a dialog

[2021-08-17 12:57] Begoski commented on #722
Try assigning different names to the dialog and then calling this.$modal.show("name")  with the respective name.

[2021-08-20 04:38] petermullen commented on #70
As @mintcs mentioned, I had the issue when launched from `<a href="#">`. I found changing to a `<button>` fixed it, even without using `@click.prevent=""`.

[2021-08-24 13:18] vintagesucks commented on #637
In one of our projects this was solved by setting [`shiftX`](https://euvl.github.io/vue-js-modal/Properties.html#shiftx-number-between-0-and-1-0-default-0-5) to `0`.

[code]

[2021-09-01 12:19] Michaelmw17 commented on #70
This should be reopened, @click.prevent || .stop || .self
And above comments do not work

[2021-09-10 06:52] minhnhat2807 opened #726 "Add option to show/hide (v-show) to avoid re-render content in modal"
#### Problem:

#### Version:

#### Example & screenshots:

[2021-09-13 09:13] LOUKOUKOU opened #727 "modal component not rendering in gridsome build"
#### Problem:
When I do a gridsome build with the <modal> component it doesn't render it, when I run `this.$modal.show('example')` it renders it properly.

#### Version:
Latest

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/14559737/133057123-8d8df6b9-7f10-42b5-9ce1-29eaa9e4b40a.png)

[2021-09-15 15:55] uncikmarek opened #729 "Modals not showing up using nuxt in production env"
#### Problem:
Modals are not showing up on nuxt when in production mode. It does work when running in dev env, but when I use build and then start it does not show up.

#### Version: 2.0.1

#### Example & screenshots:

Here is code:

plugins/vue-js-modal.js:
`
import Vue from 'vue'
import VModal from 'vue-js-modal'

Vue.use(VModal, { dialog: true})
`

config:
`plugins: [
    { src: '~plugins/vue-j

[2021-09-28 09:16] kaguya3222 opened #732 "Modal scroll is unclickable"
#### Problem:
Scroll is unclickable because .vm-overlay covers .vm--container

#### Version:
2.0.1

#### Example & screenshots:
[Codesandbox](https://codesandbox.io/s/keen-liskov-g3wws?file=/src/App.vue)

Screenshot:
![image](https://user-images.githubusercontent.com/55194394/135059194-e6c27d1a-3708-4858-ba6e-4169af2eac74.png)

[2021-10-01 04:28] Naokimi commented on #383
I have the same issue and the proposed solution no longer works

[2021-10-01 05:35] citrussilver opened #733 "No tap response when tapping ag-grid data row contents on a vue-js-modal"
#### Problem:
Cannot tap on ag-grid data row contents

#### Version:
@ag-grid-community/vue
@ag-grid-community

#### Example & screenshots:
Screen record (Google Drive)
https://drive.google.com/file/d/19aCagHDv6dHojc8etBtIlzL_7_QQnypH/view?usp=sharing

Description:
When testing on chrome devtools using any mobile or any tablet device, it seems touch events on vue-js-modal have issues.
We put @touc

[2021-10-04 08:22] citrussilver commented on #733
Hello guys, we found out a solution and it would be a good future reference for other developers.

Solution (Vue.js)
`
   function_foo() {
      this.$modal.show(function_foo,{
        init_value: '',
        modal : this.$modal }, {
        name: 'modal-functionn_foo',
        width : '75%',
        height : '600px',
        draggable: false, // set to false
      })
    },
 `
When calling the mo

[2021-10-04 08:22] #733 closed

[2021-10-14 12:07] apasov opened #735 "Migration guide from v1 to v2 needed"
#### Problem:

Tried to migrate from v1 to v2 and it broke all my modals. But it didn't trigger any compilation, lint or browser console errors.

I simply have no time to dig really deep into the code so I just decided to roll back to v1.

I would greatly appreciate if you added a migration guide to the docs.

[2021-10-16 06:17] nguyenhoangtuehachix opened #736 "How to change vm-overlay background's color"
#### Problem:
I want to change overlay color from default's color `rgb(0,0,0,0.2)` to `rgb(0,0,0,0)`

#### Version:
Version 2.0.0

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/64390079/137576188-1dcce8b0-0916-40b0-93db-600693285a75.png)

[2021-10-21 09:15] EneroPl commented on #736
In component when call modal you can use that CSS-stylse to vm--overlay
`.vm--overlay {
    background-color: black !important;
  }`

[2021-11-09 09:30] RezaErfani67 commented on #626
any release?

[2021-11-12 15:32] fote15 commented on #679
Hello my friend did you find solution for this one?

[2021-11-12 15:36] Exordio commented on #679
Hello, unfortunately not. For me, the solution turned out to be not to use this component and write my own. And with my component I can play however I want. Unfortunately, the author of this module gave up on the development and support of this product.

[2021-11-12 15:51] fote15 opened #738 "no transition on modal background (.vm--overlay)"
#### Problem:

basically I'm having the same as https://github.com/euvl/vue-js-modal/issues/679

I have no transition on modal background (.vm--overlay), which( rgba(0,0,0,0.2) by default)
I have changed it to rgba(0,0,0,1) , And even before that it had no transition, it's just black screen on background and suddenly dissappears

"aria-expanded" attribure doesnt turn false on closing
#### Version:

[2021-11-15 19:53] #662 closed

[2021-11-20 13:48] eslamoo commented on #477
Thanks for sharing this, solved the problem.

[2021-11-20 13:49] eslamoo commented on #477
Thanks for sharing this, fixed the problem.

[2021-11-26 01:46] ChengYuHin99 opened #739 "vue-js-modal test code issue from 2.0.0"
#### Problem:

Cannot do unit test for vue-js-modal from 2.0.0.
Because in `https://github.com/euvl/vue-js-modal/blob/master/src/PluginCore.js`, show/hide function is defined as const.
So we can not mock for unit test.

I think there is no way to test in this case, maybe need to remove const for show/hide function.
Thanks.

#### Version:

v2.0.1

#### Example & screenshots:

https://files.slack.co

[2021-12-07 11:53] Ellizio commented on #718
@EneroPl I don't have problems with hard code because i use that approach only for static dialogs.
For exaple my dialog service

[code]

[2021-12-10 10:22] DavidSprauel commented on #626
Any news? I've been trying vue final modal but it is a hell of a thing to make it work as i need.
vue-js-modal is working just fine in my old vue2 project and i'd be glad t use it in my vue 3

[2021-12-14 19:08] medbrat13 commented on #626
**Make vue3 support please!!!!!**

[2021-12-21 05:33] sergeynilov opened #740 "If vue-js-modal works with vuejs 3 ?"
#### Problem:

If vue-js-modal works with vuejs 3 ? If yes please ref to examples...

#### Version:

#### Example & screenshots:

[2021-12-22 04:49] Cryptofer commented on #732
Yeah, it is not. Here's what I did,

I completely hid the `vm--overlay` and applied the background to `vm--container` instead.
[code]

[code]

[2021-12-30 08:47] DrMarkEy commented on #722
I noticed the same problem starting with version 2.0.0, while opening multiple dialogs (using the v-dialog component) worked fine  in 1.3.34. I was able to create a workaround by copying the implementation of the v-dialog component and assigning it a different id. The downside is that I have to remember to always call those two modals in an alternating order.

[2022-01-03 21:52] smoilovskiy commented on #660
For example, try this:
[code]

[2022-01-07 09:24] ijay-bm opened #741 "Having a dynamic "draggable" property does not seem to work"
I want to make the draggable property dynamic so that the modal can be 'locked' or 'unlocked', I have tried binding the property to a toggle input but it does not work.

[2022-01-09 08:35] #644 closed

[2022-01-09 08:35] #645 closed

[2022-01-09 08:35] #641 closed

[2022-01-09 08:35] #654 closed

[2022-01-09 08:35] #647 closed

[2022-01-09 08:35] #639 closed

[2022-01-09 08:35] #657 closed

[2022-01-09 08:35] #651 closed

[2022-01-09 08:35] #658 closed

[2022-01-09 08:35] #659 closed

[2022-01-09 08:35] #661 closed

[2022-01-09 08:35] #665 closed

[2022-01-09 08:35] #666 closed

[2022-01-09 08:35] #656 closed

[2022-01-09 08:35] #664 closed

[2022-01-11 10:16] Katerinka28 commented on #740
the same thing... 4 years with vue-js-modal and vue 2... but when i migrate to vue3 and Nuxt3 - it didn`t work... It's hard to get used to another plugin

[2022-01-19 09:27] Instinctlol commented on #626
Hey guys, I migrated to the aforementioned [vue-final-modal](https://github.com/vue-final/vue-final-modal). If you choose to do so yourself, this will make your life a little easier as it's not a drop-in replacement.

When using vue-final-modal, you need to set the styling classes yourself. I copied the styling from vue-js-modal and merged it a little with the stuff explained in the step-by-step s

[2022-01-25 05:57] ricky11 commented on #740
Any idea when 2.1 will launch?

[2022-01-31 09:54] Instinctlol commented on #740
Please check https://github.com/euvl/vue-js-modal/issues/626

[2022-02-18 01:24] axetroy commented on #507
Any news +1 ?

[2022-02-24 18:29] Venegrad opened #753 "events not working in nuxt"
events not working in nuxt

[2022-03-15 02:05] Fuksmate commented on #753
is there a workaround for this?

[2022-03-16 12:57] minipisame opened #758 "delete vm--overlay background opacity"
#### Problem:
I want to rewrite the overlay background: rgba(0, 0, 0, 0.2); to background rgba(0, 0, 0, 0);
I don't want that opacity , i try to use overlayTransition but didn't work

#### Version:
Last version

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/44228797/158594797-d292f652-ca92-4d41-b4c3-9b20849e2982.png)

![image](https://user-images.githubusercontent.

[2022-03-28 03:20] dennmat-hurdle opened #761 "Disabling the escape key handler"
#### Problem:

Looking for a way to be able to disable the escape key handler while maintaining the ability to click to close.

Right now it seems the only way to prevent the modal from listening for the escape key is by setting click to close to false.
I've got a system already in place I can leverage to handle closing the correct modal but I can't get around this listener currently without losin

[2022-04-08 12:28] mulukenrock commented on #439
What happened to this issue? I think the modal should have optional closing/other buttons/icons irrespective of the dynamic content it accepts.

[2022-04-14 21:40] randy-allen commented on #639
For anyone who ran into this issue (like me), the portal-vue solution didn't work for me.  At first it seemed to but I noticed after clicking around the app a bit it would randomly just stop working.  Luckily I was able to fix this directly in this library by using Dynamic modals instead.  This fixes the issue because using Dynamic modals requires you to add a modals-container component into your

[2022-04-28 14:33] DimitriBe commented on #674
Had the same issue today, using Vue.js 2.

Both solutions @BakoviDagi and @SaurabhKharivale seem to work but the latter is more simple so implementing that one,

[2022-04-29 12:58] verkhoumov opened #765 "The function of closing the modal window on **Esc** has no reactivity"
#### Problem:
The function of closing the modal window on **Esc** has no reactivity.

If, while working with the window, I change the `clickToClose` state to `false`, the event listener remains active and when **Esc** is pressed, it calls the `onEscapeKeyUp` method, which closes the modal window despite the prohibition.

In fact, the implementation of this function initially has an error. During `

[2022-05-01 18:20] fahim525 opened #766 "vue3 support"
#### Problem:

Currently this package not supporting vuejs version 3

[2022-05-13 05:35] Marianissimus commented on #493
Me, too

[2022-05-13 08:57] Gransfall commented on #761
Hi @dennmat-hurdle,

Did you find a solution ? I'm struggled with that behavior too

[2022-05-14 15:15] encoderuz opened #767 "Cannot read properties of undefined (reading '$modal')"
Hi there ! I have inexplicable problem.
project: laravel 8 & vue 3 and installed vue-js-modal
[code]
#### Problem:
Cannot read properties of undefined (reading '$modal')

####
[code]

#### Version:
Vue 3

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/43345536/168433414-9368212a-0bd1-4ee6-9948-454c83205934.png)

[2022-05-17 07:18] Gransfall commented on #761
Hi,

Thanks for your response,
I've find an hacky way. Not Perfect but can be useful to someone.

Basically, you must :

- set  : **clickToClose to false**
- use @opened library function
- set a ref attribute to your first field on the modal
- bind escape key on the first div on the modal to call a closing function

[code]

[code]

[code]

After, like you say, the best is maybe to switch the libra

[2022-05-20 10:00] ljoxloyd commented on #766
Please check  #626

[2022-06-06 16:30] Z3rio commented on #767
I'm also having this issue

[2022-06-07 22:45] EllSilva commented on #397
como fez para conseguir

[2022-06-16 02:37] edwinsmasher opened #770 "Modal is not scrollable when adaptive is true"
<modal name="clusters-modal"
             :width = '800'
             height="auto"
             :adaptive="true"
             :draggable="true"
             :shiftX="0.6"
             :scrollable="true">

</modal>

[2022-07-04 11:11] KIlian42 opened #773 "How to set border-radius"
How to set the border-radius of the modal?

[2022-07-04 11:17] KIlian42 commented on #773
<modal styles="border-radius:10px;">

[2022-07-04 11:17] #773 closed

[2022-07-15 19:08] onomojo commented on #673
Stale bot sucks. This is still an issue.

[2022-07-27 19:26] Ulises920324 opened #777 "Problem with styles in component inside modal call"
Problem:  The vuetify styles don't load inside the component when I use $modal.show(component, componentProps, modalProps, modalEvents)
Version:2.0.1

[2022-07-30 04:58] Klieger commented on #770
https://github.com/euvl/vue-js-modal/issues/674

[2022-08-01 15:50] rathboma commented on #621
Solution with vue-portal:

in App.vue:
[code]

Your modal:
[code]

[2022-08-09 15:54] parrotsoft commented on #767
I have this problem too, with Vue3 and Laravel 9

![Screen Shot 2022-08-09 at 10 53 23 AM](https://user-images.githubusercontent.com/5466680/183699985-59053f89-abd1-44bf-a286-2c1d46ab305d.png)

[2022-08-11 00:37] lukas-pierce commented on #740
try https://vue-final-modal.org/

[2022-08-18 03:42] dzcpy commented on #740
Any updates? Nuxt 3 is comming!

[2022-08-18 03:45] dzcpy commented on #626
Is there anyone intested in migrating this module to Vue 3?

[2022-08-18 09:25] JshGrn commented on #626
Use Vue-Final-Modal

[2022-08-22 18:13] thomas-forster1 opened #778 "vee-validate validation not working once wrapped with vue-js-modal"
#### Problem:
I have a vee-validate form with works fine, but once wrapped in vue-js-modal elements of vee-validate stops working.
I would post this issue on the vee-validate, but I have found that the form only stops working once wrapped in vue-js-modal. other vue modal plugins work fine with vee-validate, but I would prefer to use vue-js-modal.

#### Version:
``` "vue-js-modal": "^2.0.1"```

[2022-08-23 08:04] #778 closed

[2022-08-31 08:30] MohammadZarifiyan commented on #767
I have same the problem.

[2022-09-14 03:24] leandrodiogenes commented on #70
No alternatives to solve that issue?

[2022-09-16 16:00] mohsennrs opened #779 "Unable to preventDefault inside passive event listener due to target being treated as passive"
I am using the draggable option and when I try to drag the modal in responsive mode I get the error below in the console and the background moves with drag too.

I am using version 2.0.1. I traced the error to the lines below in src/components/Modal.vue file.

`document.addEventListener('touchmove', handleDraggableMousemove)
document.addEventListener('touchend', handleDraggableMouseup)`

I think t

[2022-09-19 15:52] goatfryed-holos commented on #192
Hacktoberfest is near. Can we reopen and I take over?

Here are a lot of proposals how this could be supported, but why not simply following the vue contract?
I don't understand, why the on: {} and onXxx contract of vue isn't supported in the component props? This must be passed to the render function, right? So shouldn't this work out of the box or fixed, what ever breaks this behaviour in betwee

[2022-09-21 19:01] handhikadj opened #782 "Got "Incorrect or missing password" when installing this package"
#### Problem:
forked this repo and cloned the repo.
I ran `npm install`
it's showing this error:
[code]

#### Version:
node: 16.15.1
npm: 8.11.0
O.S.: mac monterey (apple m1)

#### Example & screenshots:
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/22522638/191588359-30278954-55c4-42df-9c1d-63a35cacd4c5.png">

[2022-10-06 15:38] NateWr opened #784 "text-align on v-modal causes problems in RTL languages"
#### Problem:
When using a right-to-left language, like Arabic, text should flow from the right of the screen to the left. However, the modal has a CSS rule that applies `text-align: left` which cascades to the content inside of the modal.

#### Version:
1.3.35

#### Example & screenshots:
The CSS rule that causes the problem is:

[code]

In the screenshot below, you can see how it is effecting a

[2022-10-13 14:30] byChamaco opened #786 "Can add the close button dynamically?"
I want to add the close button to the modal dynamically and I don't know if it's possible. At the moment I can't find a way.

[2022-10-30 12:47] vikcch opened #787 "Incorrect documentation on Events section"
#### Problem:
On the documention of the events `@before-open` and `@before-close` reads:

On the code has to be `event.stop()`

[Documentation - Events](https://euvl.github.io/vue-js-modal/Events.html#events-2)

#### Version:
vue-js-modal: 1.3.34

#### Example & screenshots:
![image](https://user-images.githubusercontent.com/50946670/198879239-04d37a1a-a8a6-4781-bbf8-8149bfa29028.png)

[2022-11-15 14:12] habibsogbesandeji commented on #429
Hello. Did you ever figure this out ?

[2022-11-15 14:13] hmoskva commented on #429
I came across this issue when using vue-js-modal with a static nuxt build. On nuxt dev, it works fine. On static build, same issue as yours. Did you event figure it out ?